button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

a.content-button{
    font-size: 14px;
    font-weight: 200;
    background: #1B97C1;
    border: 0.1px solid #fff;
    color: #fff;
    padding: 15px 25px;
        @media all and (max-width: $query__small){
            font-size: 10px;  
        }
    
    i{
        padding-right: 8px;
    }
    
    &:hover{
        background: #fff;
        color: #1B97C1;
        text-decoration: none;
    }
}

a.content-button-white{
    font-size: 14px;
    font-weight: 200;
    background: #fff;
    border: 0.1px solid #1B97C1;
    color: #1B97C1;
    padding: 15px 25px;
    @media all and (max-width: $query__small){
            font-size: 10px;  
        }
    
    i{
        padding-right: 8px;
    }
    
    &:hover{
        background: #1B97C1;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
    }
}

a.button{
    padding: 1em 2em;
    border: 1px solid #1B97C1;
    color: #1B97C1;
    font-size: 13px;
    font-weight: 500;
    
    i{
        padding-right: 8px;
    }
}
