
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid #E1E2E4;
	border-radius: 3px;
	padding: 3px;
        font-size: 13px;

	&:focus {
		color: $color__text-input;
	}
}

select {
	border: 1px solid $color__text-input;
        font-size: 13px;
        border-radius: 0;
}

textarea {
	width: 100%;
        font-size: 13px;
}
input[type="search"]{
    color:#1B97C1;
}

input[type="text"]{
    color:#1B97C1;
}


