.search-container {
    width: 60%;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:200px;
    padding-top:80px;
    margin:auto;
    @media all and (max-width: $query__small) {

        width: 100%;
        padding: 15px;
    
}
    
    .search-page-title {
    font-size: 20px;
    font-weight: 300 !important;
    line-height: 50px;
    text-align:center;
    display:block;
    text-transform:uppercase;
    padding-top:50px;
    padding-bottom:25px;
    
    span{
    font-size: 20px;
    font-weight: 600;
    }
}
.search-post-title {
    font-size: 18px;
    font-weight: 600 !important;
    line-height: 50px;
    text-align:left;
    display:block;
}
.search-post-link {
    font-size: 14px;
    font-weight: 300 !important;
    line-height: 20px;
    text-align:left;
    display:block;
}
.search-post-excerpt {
    font-size: 12px;
    font-weight: 400 !important;
    line-height: 15px;
    text-align:left;
    display:block;
}
}




