@charset "UTF-8";
/*!
Theme Name: Energy Partners
Theme URI: http://underscores.me/
Author: Polymorph
Author URI: https://polymorph.co.za
Description: A Simple & Clean Corporate Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: energypartners
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Energy Partners is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
	/* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: 600;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
	font-weight: 500;
	color: #8A8E96;
	text-transform: capitalize;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
select,
optgroup,
textarea {
	color: #404040;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

input {
	color: #E1E2E4;
}

h1, h2 {
	clear: both;
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-size: 36px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media all and (max-width: 900px) {
	h1 {
		font-size: 30px;
	}
}

​
h2 {
	font-size: 30px;
	font-weight: 600;
}

h3 {
	font-size: 26px;
	font-weight: 600;
}

@media all and (max-width: 900px) {
	h3 {
		font-size: 24px;
	}
}

h3, h4, h5, h6 {
	clear: both;
	font-family: "Montserrat", sans-serif;
}

h4 {
	font-weight: 300;
	font-size: 23px;
	line-height: 30px;
}

@media all and (max-width: 900px) {
	h4 {
		font-size: 20px;
	}
}

h5 {
	font-weight: 100;
	font-size: 18px;
}

h6 {
	font-weight: 500;
	font-size: 16px;
}

p {
	margin-bottom: 1.5em;
	font-size: 14px;
	color: #053D5D;
}

span {
	font-size: 14px;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #31708f73;
	border: 0;
	height: 1px;
	margin: 14px 0;
}

ul {
	list-style: disc;
	padding-left: 15px;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

a.content-button {
	font-size: 14px;
	font-weight: 200;
	background: #1B97C1;
	border: 0.1px solid #fff;
	color: #fff;
	padding: 15px 25px;
}

@media all and (max-width: 600px) {
	a.content-button {
		font-size: 10px;
	}
}

a.content-button i {
	padding-right: 8px;
}

a.content-button:hover {
	background: #fff;
	color: #1B97C1;
	text-decoration: none;
}

a.content-button-white {
	font-size: 14px;
	font-weight: 200;
	background: #fff;
	border: 0.1px solid #1B97C1;
	color: #1B97C1;
	padding: 15px 25px;
}

@media all and (max-width: 600px) {
	a.content-button-white {
		font-size: 10px;
	}
}

a.content-button-white i {
	padding-right: 8px;
}

a.content-button-white:hover {
	background: #1B97C1;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
}

a.button {
	padding: 1em 2em;
	border: 1px solid #1B97C1;
	color: #1B97C1;
	font-size: 13px;
	font-weight: 500;
}

a.button i {
	padding-right: 8px;
}

input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #E1E2E4;
	border: 1px solid #E1E2E4;
	border-radius: 3px;
	padding: 3px;
	font-size: 13px;
}

input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #E1E2E4;
}

select {
	border: 1px solid #E1E2E4;
	font-size: 13px;
	border-radius: 0;
}

textarea {
	width: 100%;
	font-size: 13px;
}

input[type="search"] {
	color: #1B97C1;
}

input[type="text"] {
	color: #1B97C1;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #1B97C1;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header-image {
	max-height: 60vh;
	overflow: hidden;
}

.header-image img {
	display: block;
	width: 100vw;
}

.site-header {
	width: 90%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 1em;
	font-family: "Montserrat", sans-serif;
	color: #000;
	background-color: #fff;
}

@media screen and (min-width: 600px) {
	.site-header {
		padding-bottom: 1em 0;
	}
}

.site-branding {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}

.custom-logo-link {
	margin-right: 1em;
}

.custom-logo-link img {
	display: block;
	height: 40px;
	width: auto;
}

.site-branding__text {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100px;
}

.site-title {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

.site-title a {
	color: #000;
	text-decoration: none;
}

.site-title a:hover, .site-title a:focus {
	text-decoration: underline;
}

.site-title h1 {
	line-height: 1em;
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
}

@media screen and (min-width: 900px) {
	.site-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.site-branding {
		width: 15%;
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 auto;
		        flex: 1 0 auto;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: start;
		min-width: 200px;
	}
	#site-navigation {
		width: 85%;
	}
	.top-header-section {
		height: 40px;
	}
	span.top-phone {
		float: right;
		padding: 5px 15px;
		background: #1B97C1;
		margin: 0 7em 0 0;
		color: #fff;
		font-weight: 400;
		font-size: 13px;
	}
	span.top-phone a {
		color: #fff;
		font-weight: 200;
		font-size: 13px;
	}
}

@media screen and (min-width: 600px) {
	.top-header-section {
		text-align: right;
		height: 40px;
	}
	span.top-phone {
		padding: 10px 25px;
		background: #1B97C1;
		margin: 0 7em 0 0;
		color: #fff;
		font-weight: 400;
		font-size: 13px;
	}
	span.top-phone a {
		color: #fff;
		font-weight: 200;
		font-size: 13px;
	}
}

@media screen and (max-width: 600px) {
	.site-title a {
		font-size: 25px;
	}
	h1.site-title {
		line-height: 25px;
	}
	.custom-logo-link img {
		height: 50px;
		width: auto;
	}
	.top-header-section {
		text-align: right;
		height: 40px;
	}
	span.top-phone {
		margin: 0;
		padding: 15px;
		background: #1B97C1;
		color: #fff;
		font-weight: 400;
		font-size: 13px;
	}
	span.top-phone a {
		color: #fff;
		font-weight: 200;
		font-size: 13px;
	}
}

/*
Header Menu
*/
.main-navigation {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	clear: left;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-top: 1em;
	padding-left: 0;
}

.main-navigation ul ul {
	display: none;
	top: 1.5em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	top: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 100px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: inline-block;
	width: 100%;
	padding: .5em 1em .5em 0;
	text-decoration: none;
	color: #8A8E96;
}

.main-navigation a:hover,
.main-navigation a:focus {
	text-decoration: none;
	background: #EFEFEF;
	color: #1B97C1;
}

.main-navigation .menu-item-has-children,
.main-navigation .page-item-has-children {
	min-width: 100px;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a {
	padding-right: 2em;
}

button.dropdown-toggle {
	position: absolute;
	right: 0px;
	border: none;
	background: inherit;
	color: #8A8E96;
	line-height: 1.5em;
	padding: .6em 1em .4em .5em;
}

.menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	margin: 1.2em 1.2em 0 0;
	padding: .6em .8em;
	font-size: 80%;
	text-transform: uppercase;
	color: #8A8E96;
	border: 1px solid aliceblue;
}

/* Toggle small menu and sub-menus on */
.toggled-on ul,
.sub-menu.toggled-on {
	display: block;
	position: absolute;
	z-index: 10;
	padding-top: 20px;
	background: #fff;
}

@media screen and (min-width: 1200px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation .menu-item-has-children > a,
	.main-navigation .page_item_has_children > a {
		padding-right: 2em;
		background: rgba(255, 255, 255, 0.1);
	}
	.main-navigation ul {
		display: block;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
	}
	.main-navigation ul ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		background: rgba(255, 255, 255, 0.1);
		margin-left: 0;
	}
	.main-navigation ul ul li {
		padding-left: 0;
	}
	.main-navigation ul ul li a {
		width: 150px;
		background: none;
	}
	.main-navigation ul li a {
		padding: .4em 1em;
	}
	.main-navigation input.search-submit {
		display: none;
	}
	.main-navigation input.search-field {
		border-left: solid 1px;
		border-right: solid 1px #fff;
		border-top: solid 1px #fff;
		border-bottom: solid 1px #fff;
		border-radius: 0;
		font-weight: 400;
		font-size: 13px;
		text-transform: uppercase;
		padding-left: 10px;
		padding-top: 3px;
	}
}

@media screen and (min-width: 900px) {
	.main-navigation ul {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		padding-top: 0;
	}
	.main-navigation input.search-submit {
		display: none;
	}
	.main-navigation input.search-field {
		border-left: solid 1px;
		border-right: solid 1px #fff;
		border-top: solid 1px #fff;
		border-bottom: solid 1px #fff;
		border-radius: 0;
		font-weight: 400;
		font-size: 13px;
		text-transform: uppercase;
	}
	.main-navigation form.search-form {
		padding: 0.2em 1em;
	}
}

@media all and (max-width: 900px) and (min-width: 600px) {
	.main-navigation {
		font-size: 13px;
	}
}

@media all and (max-width: 1200px) {
	.main-navigation {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.main-navigation ul {
		padding: 0 2em 2em;
	}
	.main-navigation ul ul a {
		width: 150px;
	}
	.main-navigation form.search-form {
		padding-left: 0;
	}
}

@media all and (max-width: 600px) {
	.main-navigation ul ul a {
		width: 150px;
	}
}

/*
Divisions Headers
*/
#water-header {
	background: #00A2B4;
}

#water-header a {
	color: #fff;
	text-decoration: underline;
}

#fuel-header {
	background: #495F65;
}

#fuel-header a {
	color: #fff;
	text-decoration: underline;
}

#engineering-header {
	background: #053D5D;
}

#engineering-header a {
	color: #fff;
	text-decoration: underline;
}

#intelligence-header {
	background: #005A7B;
}

#intelligence-header a {
	color: #fff;
	text-decoration: underline;
}

#refrigeration-header {
	background: #006A75;
}

#solar-header {
	background: #495F65;
}

#solar-header a {
	color: #fff;
	text-decoration: underline;
}

#steam-header {
	background: #1D3744;
}

#steam-header a {
	color: #fff;
	text-decoration: underline;
}

a#refrigeration-header {
	color: #fff;
	text-decoration: underline;
}

.intelligence-logo img {
	display: block;
	height: 40px;
	width: auto;
}

@media screen and (min-width: 900px) {
	.intelligence-top-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		background: #EDEDED;
		padding-left: 5em;
		margin-bottom: 15px;
	}
	.intelligence-top-header span.top-phone {
		float: none;
	}
	.intelligence-top-header span.corporate-link {
		padding: 10px 25px;
		background: #EDEDED;
		margin: 0;
		color: #1B97C1;
		font-weight: 400;
		font-size: 13px;
	}
}

@media screen and (min-width: 600px) {
	.intelligence-top-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.intelligence-top-header span.corporate-link {
		padding: 10px 25px;
		background: #EDEDED;
		margin: 0;
		color: #1B97C1;
		font-weight: 400;
		font-size: 13px;
	}
}

@media screen and (max-width: 600px) {
	.intelligence-top-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.intelligence-top-header span.corporate-link {
		padding: 10px 25px;
		background: #EDEDED;
		margin: 0;
		color: #1B97C1;
		font-weight: 400;
		font-size: 13px;
		width: 50%;
	}
	.intelligence-top-header span.top-phone {
		width: 50%;
		padding: 10px 25px;
	}
	.site-header {
		padding-top: 1em;
	}
	img.header-logo {
		height: 40px !important;
	}
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
#page {
	overflow: auto;
}

#053D5D.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.full-width-container {
	width: 90%;
	margin: 0 auto;
}

@media all and (max-width: 900px) {
	.full-width-container {
		width: 85%;
	}
}

.full-width-container.text-section {
	width: 90%;
	margin: 0 auto;
	padding: 50px 0;
}

@media all and (max-width: 900px) {
	.full-width-container.text-section {
		width: 85%;
	}
}

.full-width-container.text-section h2 {
	color: #053D5D;
}

.full-width-container.text-section h3 {
	color: #053D5D;
}

.full-width-container.text-section h4 {
	color: #053D5D;
	font-weight: 300;
}

.top-page-container.about {
	text-transform: uppercase;
}

.top-page-container.about h1 {
	margin-top: 0;
	text-transform: uppercase;
}

@media all and (max-width: 900px) {
	.top-page-container.about {
		height: 300px;
	}
}

.top_form {
	width: 100%;
}

.top_form p {
	margin-left: 15px;
	margin-bottom: 10px;
}

.top_form span {
	margin-left: 20px;
}

#steam-products.top_form {
	height: 170px;
}

#right-column-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: left;
}

#right-column-1 a {
	padding: 1em 2em;
	border: 1px solid #1B97C1;
	color: #1B97C1;
	font-size: 13px;
	font-weight: 300;
}

#right-column-1 a .fa-download {
	padding-right: 5px;
	font-size: 15px;
}

.top-page-container {
	height: 250px;
	text-align: left;
	background: #E1E2E4;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.top-page-container .left-column-content {
	padding-top: 2em;
}

.top-page-container #division-title h1 {
	color: #fff;
}

.top-page-container #division-title span {
	color: #C4C6CA;
}

.top-page-container #division-description h4 {
	color: #fff;
	font-weight: 300;
}

.top-page-container .col-lg-6 h1 {
	color: #053D5D;
	text-transform: uppercase;
}

.top-page-container .col-lg-6 h1 span {
	color: #1B97C1;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 600;
}

@media all and (max-width: 900px) {
	.top-page-container .col-lg-6 h1 span {
		font-size: 30px;
	}
}

.top-page-container .col-lg-6 h4 {
	color: #053D5D;
}

.top-page-container .col-lg-6 span.glyphicon.glyphicon-chevron-down {
	color: #fff;
	padding-top: 30px;
}

.top-page-banner {
	height: 550px;
	background-position: center;
	background-repeat: no-repeat;
}

#services-section1 {
	background: #E1E2E4;
}

#services-section1 h3 {
	color: #053D5D;
}

#industrial-column {
	border-left: 1px solid #ccc;
}

@media all and (max-width: 900px) {
	#industrial-column {
		border-left: none;
	}
}

#residential-column {
	border-left: 1px solid #ccc;
}

@media all and (max-width: 900px) {
	#residential-column {
		border-left: none;
	}
}

#commercial-column {
	border-left: 1px solid #ccc;
}

@media all and (max-width: 900px) {
	#commercial-column {
		border-left: none;
	}
}

.logo-container {
	padding-bottom: 70px;
}

.logo-container .logo-information-block {
	padding: 70px 0;
}

.logo-container .logo-information-block h1, .logo-container .logo-information-block h2, .logo-container .logo-information-block h3, .logo-container .logo-information-block h4, .logo-container .logo-information-block h5, .logo-container .logo-information-block h6, .logo-container .logo-information-block p {
	color: #053D5D;
}

.logo-container span {
	font-size: 14px;
	color: #053D5D;
	font-weight: 600;
}

.logo-container ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}

.logo-container ul li img {
	width: 120px;
}

@media all and (max-width: 900px) {
	.five-box-grid-container .box {
		width: 50% !important;
	}
}

@media all and (max-width: 600px) {
	.top-page-container {
		height: 500px;
	}
	.top-page-container.solutions {
		height: 300px;
	}
	.five-box-grid-container .box {
		width: 100% !important;
	}
	.two-box-grid-container .box {
		width: 100% !important;
	}
	img {
		height: auto !important;
		min-height: auto !important;
	}
}

/*Start Home page grid with animations*/
.two-box-grid-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
}

.two-box-grid-container #stay-in-place-one {
	background: #053D5D;
	width: 100%;
	position: relative;
	text-align: center;
	color: #fff;
}

.two-box-grid-container #stay-in-place-one span {
	font-size: 20px;
	text-shadow: 1px 1px #053D5D;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.two-box-grid-container #stay-in-place-one:hover {
	-webkit-transition: all 1.5s;
	transition: all 1.5s;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.two-box-grid-container #stay-in-place-one img {
	opacity: 0.5;
	width: 100%;
}

.two-box-grid-container #stay-in-place-two {
	background: #053D5D;
	width: 100%;
	position: relative;
	text-align: center;
	color: #fff;
}

.two-box-grid-container #stay-in-place-two span {
	text-shadow: 1px 1px #053D5D;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.two-box-grid-container #stay-in-place-two:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 1.5s;
	transition: all 1.5s;
}

.two-box-grid-container #stay-in-place-two img {
	opacity: 0.5;
	width: 100%;
}

.two-box-grid-container #move-in-to-place-one {
	position: absolute;
	bottom: -100%;
	height: 100%;
	width: 100%;
	background: #053D5D;
	opacity: 0;
	height: 0;
	text-align: center;
	color: #fff;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.two-box-grid-container #move-in-to-place-two {
	position: absolute;
	bottom: -100%;
	height: 100%;
	width: 100%;
	background: #005A7B;
	opacity: 0;
	height: 0;
	text-align: center;
	color: #fff;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.two-box-grid-container .box {
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.two-box-grid-container .box:hover #move-in-to-place-one, .two-box-grid-container .box:hover #move-in-to-place-two {
	bottom: 0;
	-webkit-transition: all 1s, -webkit-transform 1s;
	transition: all 1s, -webkit-transform 1s;
	transition: all 1s, transform 1s;
	transition: all 1s, transform 1s, -webkit-transform 1s;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.two-box-grid-container span {
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.five-box-grid-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
}

.five-box-grid-container #stay-in-place-one {
	background: #053D5D;
	width: 100%;
	position: relative;
	text-align: center;
	color: #fff;
}

.five-box-grid-container #stay-in-place-one span {
	text-shadow: 1px 1px #053D5D;
	font-size: 20px;
}

.five-box-grid-container #stay-in-place-one:hover {
	-webkit-transition: all 1s;
	transition: all 1s;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.five-box-grid-container #stay-in-place-one img {
	opacity: 0.5;
	width: 100%;
}

.five-box-grid-container #stay-in-place-two {
	background: #053D5D;
	width: 100%;
	position: relative;
	text-align: center;
	color: #fff;
}

.five-box-grid-container #stay-in-place-two span {
	text-shadow: 1px 1px #053D5D;
	font-size: 20px;
}

.five-box-grid-container #stay-in-place-two:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 1s;
	transition: all 1s;
}

.five-box-grid-container #stay-in-place-two img {
	opacity: 0.5;
	width: 100%;
}

.five-box-grid-container #stay-in-place-three {
	background: #053D5D;
	width: 100%;
	position: relative;
	text-align: center;
	color: #fff;
}

.five-box-grid-container #stay-in-place-three span {
	text-shadow: 1px 1px #053D5D;
	font-size: 20px;
}

.five-box-grid-container #stay-in-place-three:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 1s;
	transition: all 1s;
}

.five-box-grid-container #stay-in-place-three img {
	opacity: 0.5;
	width: 100%;
}

.five-box-grid-container #stay-in-place-four {
	background: #053D5D;
	width: 100%;
	position: relative;
	text-align: center;
	color: #fff;
}

.five-box-grid-container #stay-in-place-four span {
	text-shadow: 1px 1px #053D5D;
	font-size: 20px;
}

.five-box-grid-container #stay-in-place-four:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 1s;
	transition: all 1s;
}

.five-box-grid-container #stay-in-place-four img {
	opacity: 0.5;
	width: 100%;
}

.five-box-grid-container #stay-in-place-five {
	background: #053D5D;
	width: 100%;
	position: relative;
	text-align: center;
	color: #fff;
}

.five-box-grid-container #stay-in-place-five span {
	text-shadow: 1px 1px #053D5D;
	font-size: 20px;
}

.five-box-grid-container #stay-in-place-five:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 1s;
	transition: all 1s;
}

.five-box-grid-container #stay-in-place-five img {
	opacity: 0.5;
	width: 100%;
}

.five-box-grid-container #move-in-to-place-one {
	position: absolute;
	bottom: -100%;
	height: 100%;
	width: 100%;
	background: #006A75;
	opacity: 0;
	height: 0;
	text-align: center;
	color: #fff;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.five-box-grid-container #move-in-to-place-two {
	position: absolute;
	bottom: -100%;
	height: 100%;
	width: 100%;
	background: #60777D;
	opacity: 0;
	height: 0;
	text-align: center;
	color: #fff;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.five-box-grid-container #move-in-to-place-three {
	position: absolute;
	bottom: -100%;
	height: 100%;
	width: 100%;
	background: #1D3744;
	opacity: 0;
	height: 0;
	text-align: center;
	color: #fff;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.five-box-grid-container #move-in-to-place-four {
	position: absolute;
	bottom: -100%;
	height: 100%;
	width: 100%;
	background: #1FC3F3;
	opacity: 0;
	height: 0;
	text-align: center;
	color: #fff;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.five-box-grid-container #move-in-to-place-five {
	position: absolute;
	bottom: -100%;
	height: 100%;
	width: 100%;
	background: #5FA0C2;
	opacity: 0;
	height: 0;
	text-align: center;
	color: #fff;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.five-box-grid-container .box {
	position: relative;
	width: 20%;
	height: 100%;
	overflow: hidden;
}

.five-box-grid-container .box:hover #move-in-to-place-one, .five-box-grid-container .box:hover #move-in-to-place-two, .five-box-grid-container .box:hover #move-in-to-place-three, .five-box-grid-container .box:hover #move-in-to-place-four, .five-box-grid-container .box:hover #move-in-to-place-five {
	bottom: 0;
	-webkit-transition: all 1s, -webkit-transform 1s;
	transition: all 1s, -webkit-transform 1s;
	transition: all 1s, transform 1s;
	transition: all 1s, transform 1s, -webkit-transform 1s;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.five-box-grid-container span {
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	text-transform: uppercase;
}

/*  End of home page grid*/
.about-layout-3 .col-md-6.col-lg-6 {
	padding: 0;
}

.about-layout-3 .col-md-6.col-lg-6 img {
	width: 100%;
	height: 500px;
}

.about-layout-3 .col-md-6.col-lg-6 img.block-image {
	width: 100%;
	height: 500px;
}

@media all and (max-width: 900px) {
	.about-layout-3 .col-md-6.col-lg-6 img.block-image {
		width: 100%;
		height: auto;
	}
}

.about-layout-3 p {
	font-size: 14px;
	color: #fff;
}

.about-layout-3 .about-wysiwyg-left {
	padding: 6em 6em 4em 8em;
	background: #053D5D;
	color: #fff;
	font-weight: 300;
	height: 500px;
}

@media all and (max-width: 900px) {
	.about-layout-3 .about-wysiwyg-left {
		padding: 2em 4em;
	}
}

.about-layout-3 .about-wysiwyg-left img {
	width: none;
	height: none;
}

.about-layout-3 .about-refrigeration-wysiwyg-left {
	padding: 6em 6em 4em 8em;
	background: #fff;
	color: #053D5D;
	font-weight: 300;
	height: 500px;
	display: table-cell;
	vertical-align: middle;
}

.about-layout-3 .about-refrigeration-wysiwyg-left p {
	color: #053D5D;
}

@media all and (max-width: 900px) {
	.about-layout-3 .about-refrigeration-wysiwyg-left {
		padding: 2em 4em;
	}
}

.about-layout-3 .about-wysiwyg-right {
	padding: 6em 6em 4em 8em;
	background: #8A8E96;
	color: #fff;
	font-weight: 300;
	height: 500px;
}

@media all and (max-width: 900px) {
	.about-layout-3 .about-wysiwyg-right {
		padding: 2em 4em;
	}
}

.stat-container {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.stat-container .full-width-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
	padding: 6em 0;
}

.stat-container .box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	border: 1px solid #fff;
	padding: 1em 2em;
	width: 30%;
	color: #fff;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

@media all and (max-width: 900px) {
	.stat-container .box {
		width: 100%;
		margin-bottom: 20px;
	}
}

.stat-container .box h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 36px;
}

.stat-container .box span {
	color: #fff;
}

h3.solutions-title {
	color: #053D5D;
}

h3.solutions-title-engineering {
	color: #053D5D;
}

h3.solutions-title-solar {
	color: #053D5D;
	margin-left: 15px;
}

.about-layout-4 {
	padding: 3em 0;
}

.about-layout-4 .col-md-6 .solution-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 1px solid #EDEDED;
	width: 100%;
	height: 120px;
	margin: 15px 0;
	padding: 0 10px;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
	box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
}

.about-layout-4 .col-md-6 .solution-card p {
	margin-bottom: 0;
	font-size: 16px;
}

.about-layout-4 .col-md-6 .solution-card .solution-icon {
	width: 15%;
}

@media all and (max-width: 900px) {
	.about-layout-4 .col-md-6 .solution-card .solution-icon {
		width: 25%;
	}
}

.about-layout-4 .col-md-6 .solution-card .solution-icon img {
	width: 80px;
	height: 80px;
}

.about-layout-4 .col-md-6 .solution-card .solution-content {
	width: 85%;
}

.about-layout-4 .col-md-6 .solution-card .solution-content p.solar-solutions {
	font-size: 26px;
}

.about-layout-4 .col-md-6 .solution-card span {
	color: #053D5D;
	font-size: 16px;
	font-weight: 600;
}

.about-layout-4-refrigeration {
	padding: 3em 0;
	background: #EDEDED;
}

.about-layout-4-refrigeration .solutions-services-header h4 {
	font-weight: 300;
	color: #053D5D;
}

.about-layout-4-refrigeration .col-md-6 .solution-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 1px solid #EDEDED;
	background: #fff;
	color: #053D5D;
	font-weight: 300;
	width: 100%;
	height: 120px;
	margin: 15px 0;
	padding: 0 10px;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
	box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
}

.about-layout-4-refrigeration .col-md-6 .solution-card p {
	margin-bottom: 0;
}

.about-layout-4-refrigeration .col-md-6 .solution-card .solution-icon {
	width: 15%;
}

@media all and (max-width: 900px) {
	.about-layout-4-refrigeration .col-md-6 .solution-card .solution-icon {
		width: 25%;
	}
}

.about-layout-4-refrigeration .col-md-6 .solution-card .solution-icon img {
	width: 80px;
	height: 80px;
}

.about-layout-4-refrigeration .col-md-6 .solution-card .solution-content {
	width: 85%;
}

.about-layout-4-refrigeration .col-md-6 .solution-card span {
	color: #053D5D;
	font-weight: 600;
}

.info-container {
	background: #053D5D;
}

.info-container .info-copy {
	color: #fff;
	padding: 3em 0;
}

.info-container .info-copy span {
	font-weight: 500;
	font-size: 17px;
}

.info-container .info-copy p {
	color: #fff;
	font-weight: 300;
	margin-bottom: 0;
	font-size: 17px;
}

.about-layout-5 {
	padding: 3em 0;
	background: #EDEDED;
	color: #053D5D;
}

.about-layout-5 .directors-title {
	padding-bottom: 3em;
}

.about-layout-5 .directors-title .logo {
	text-align: right;
}

@media all and (max-width: 900px) {
	.about-layout-5 .directors-title .logo {
		text-align: center;
	}
}

.about-layout-5 .board-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 3em 0;
}

@media all and (max-width: 900px) {
	.about-layout-5 .board-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.about-layout-5 .board-container .col {
	width: 15%;
}

@media all and (max-width: 900px) {
	.about-layout-5 .board-container .col {
		width: 100%;
	}
}

.about-layout-5 .board-container .col img {
	padding-bottom: 20px;
}

.about-layout-6 {
	padding: 3em 0;
}

.about-layout-6 h3 {
	padding: 1em 0;
	color: #053D5D;
}

.about-layout-7 {
	background: #053D5D;
	padding: 6em 6em 4em 8em;
}

.about-layout-7 .left-block h1, .about-layout-7 .left-block h2, .about-layout-7 .left-block h3, .about-layout-7 .left-block h4, .about-layout-7 .left-block h5, .about-layout-7 .left-block h6, .about-layout-7 .left-block p {
	color: #fff;
}

.about-layout-7 .right-block {
	margin-top: 20px;
}

.about-layout-7 .right-block h1, .about-layout-7 .right-block h2, .about-layout-7 .right-block h3, .about-layout-7 .right-block h4, .about-layout-7 .right-block h5, .about-layout-7 .right-block h6, .about-layout-7 .right-block p {
	color: #fff;
}

.about-layout-8 {
	background: #8A8E96;
	padding: 6em 6em 4em 8em;
}

.about-layout-8 .left-block h1, .about-layout-8 .left-block h2, .about-layout-8 .left-block h3, .about-layout-8 .left-block h4, .about-layout-8 .left-block h5, .about-layout-8 .left-block h6, .about-layout-8 .left-block p {
	color: #fff;
}

.about-layout-8 .right-block {
	margin-top: 20px;
}

.about-layout-8 .right-block h1, .about-layout-8 .right-block h2, .about-layout-8 .right-block h3, .about-layout-8 .right-block h4, .about-layout-8 .right-block h5, .about-layout-8 .right-block h6, .about-layout-8 .right-block p {
	color: #fff;
}

.about-layout-9 .col-md-6 {
	padding: 0;
}

.about-layout-9 .right-block img {
	width: 100%;
	height: auto;
}

.about-layout-9 .left-block {
	background: #fff;
	padding: 6em 6em 4em 8em;
	color: #053D5D;
	font-weight: 300;
}

.about-layout-9 .left-block p, .about-layout-9 .left-block h1, .about-layout-9 .left-block h2, .about-layout-9 .left-block h3, .about-layout-9 .left-block h4, .about-layout-9 .left-block h6 {
	color: #053D5D;
	font-weight: 300;
}

.about-layout-9 .left-block h5 {
	color: #053D5D;
	font-weight: 300;
	line-height: 25px;
}

.funding-one {
	background: #053D5D;
	color: #fff;
}

.funding-one p, .funding-one h1, .funding-one h2, .funding-one h3, .funding-one h4, .funding-one h5, .funding-one h6 {
	color: #fff;
}

.funding-one p {
	font-weight: 300;
}

.funding-one h3 {
	font-weight: 300;
}

.funding-one #left-box {
	padding: 6em 6em 4em 8em;
}

@media all and (max-width: 900px) {
	.funding-one #left-box {
		padding: 2em 4em;
	}
}

.funding-one #right-box {
	padding: 6em 6em 4em 8em;
}

@media all and (max-width: 900px) {
	.funding-one #right-box {
		padding: 2em 4em;
	}
}

.funding-two #left-box {
	background: #8A8E96;
	color: #fff;
	padding: 6em 6em 6em 8em;
}

@media all and (max-width: 900px) {
	.funding-two #left-box {
		padding: 2em 4em;
	}
}

.funding-two #left-box p, .funding-two #left-box h1, .funding-two #left-box h2, .funding-two #left-box h3, .funding-two #left-box h4, .funding-two #left-box h5, .funding-two #left-box h6 {
	color: #fff;
}

.funding-two #left-box p {
	font-weight: 300;
}

.funding-two #left-box h3 {
	font-weight: 300;
}

.funding-two #right-box {
	padding: 6em 6em 4em 8em;
}

@media all and (max-width: 900px) {
	.funding-two #right-box {
		padding: 2em 4em;
	}
}

.layout-3.contact #left-box {
	padding: 8em;
	background: #053D5D;
}

@media all and (max-width: 900px) {
	.layout-3.contact #left-box {
		padding: 2em 4em;
	}
}

.layout-3.contact #left-box .col-md-6 {
	padding: 0;
}

.layout-3.contact #left-box p, .layout-3.contact #left-box h1, .layout-3.contact #left-box h2, .layout-3.contact #left-box h3, .layout-3.contact #left-box h4, .layout-3.contact #left-box h5, .layout-3.contact #left-box h6 {
	color: #fff;
}

.layout-3.contact #left-box h3 {
	font-weight: 400;
}

.layout-3.contact #left-box p {
	font-weight: 300;
	font-size: 13px;
}

.layout-3.contact #left-box i.fa {
	font-size: 20px;
	margin-right: 18px;
}

.layout-3.contact #left-box a {
	color: #fff;
}

.layout-3.contact #right-box {
	padding: 6em 6em 4em 8em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.layout-3.contact #right-box #gform_wrapper_1.gf_browser_chrome.gform_wrapper.corporate-home-form_wrapper {
	width: 100%;
}

@media all and (max-width: 900px) {
	.layout-3.contact #right-box {
		padding: 2em 4em;
	}
}

.layout-3.contact #right-box .right-box-content {
	width: 100%;
}

.layout-3.home {
	height: 50em;
}

@media all and (max-width: 900px) {
	.layout-3.home {
		height: auto;
	}
}

.layout-3.home #left-box {
	padding: 11em;
	background: #053D5D;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
}

@media all and (max-width: 900px) {
	.layout-3.home #left-box {
		padding: 2em 4em;
	}
}

.layout-3.home #left-box .col-md-6 {
	padding: 0;
}

.layout-3.home #left-box p, .layout-3.home #left-box h1, .layout-3.home #left-box h2, .layout-3.home #left-box h3, .layout-3.home #left-box h4, .layout-3.home #left-box h5, .layout-3.home #left-box h6 {
	color: #fff;
}

.layout-3.home #left-box h3 {
	font-weight: 400;
}

.layout-3.home #left-box p {
	font-weight: 300;
	font-size: 14px;
	margin-top: 1.5em;
}

.layout-3.home #left-box i.fa {
	font-size: 20px;
	margin-right: 18px;
	display: inline;
}

.layout-3.home #right-box {
	padding: 6em 6em 4em 8em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

@media all and (max-width: 900px) {
	.layout-3.home #right-box {
		padding: 2em 4em;
	}
}

.layout-3.home #right-box .right-box-content {
	width: 100%;
}

.layout-4.contact {
	padding: 3em 0;
	background: #EDEDED;
}

.layout-4.contact .col-md-6 .solution-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 1px solid #EDEDED;
	width: 100%;
	height: 100px;
	margin: 15px 0;
	padding: 0 10px;
	background: #fff;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
	box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
}

.layout-4.contact .col-md-6 .solution-card p {
	margin-bottom: 0;
}

.layout-4.contact .col-md-6 .solution-card .solution-content {
	width: 85%;
}

.layout-4.contact .col-md-6 .solution-card .solution-content a {
	color: #1B97C1;
}

.layout-4.contact .col-md-6 .solution-card span {
	color: #1B97C1;
}

/*Division Template Styles*/
.division-banner-image img {
	width: 100%;
}

.division-box-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.division-boxes {
	width: 100%;
}

.division-boxes ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
	padding: 7em 0;
}

@media all and (max-width: 900px) {
	.division-boxes ul {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

.division-boxes ul li {
	background: #1b97c1c4;
	color: #fff;
	padding: 10px;
	margin: 1em 10px;
	width: 300px;
	height: 60px;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	border: 1px solid #fff;
	text-transform: uppercase;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media all and (max-width: 900px) {
	.division-boxes ul li {
		width: 100%;
	}
}

.division-boxes ul li a {
	color: #fff;
	text-decoration: none;
}

.division-boxes ul li a:hover {
	color: #0c4b61;
}

.division-boxes ul li:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 1s, -webkit-transform 1s;
	transition: all 1s, -webkit-transform 1s;
	transition: all 1s, transform 1s;
	transition: all 1s, transform 1s, -webkit-transform 1s;
	background: #fff;
	color: #0c4b61;
}

.division-head-container {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	height: 350px;
}

.division-head-container .division-stat {
	height: 10em;
	position: absolute;
	left: 70px;
	bottom: 0;
	background: #1d3744e8;
	padding: 10px 24px;
}

@media all and (max-width: 900px) {
	.division-head-container .division-stat {
		left: 20px;
	}
}

.division-head-container .division-stat h1 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.division-head-container .division-stat h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.division-head-container .division-stat p {
	margin: 0;
	padding: 0;
	color: #fff;
}

.division-head-container .refrigeration-stat {
	height: 11em;
	position: absolute;
	left: 70px;
	bottom: 0;
	background: #ffffffd4;
	padding: 10px 24px;
}

@media all and (max-width: 900px) {
	.division-head-container .refrigeration-stat {
		left: 20px;
	}
}

.division-head-container .refrigeration-stat img {
	padding-top: 10px;
}

.division-head-container .refrigeration-stat span {
	color: #053D5D;
	font-weight: 600;
}

.division-head-container .water-stat {
	height: 11em;
	position: absolute;
	left: 70px;
	bottom: 0;
	background: #1D3744;
	padding: 10px 24px;
}

.division-head-container .water-stat h1, .division-head-container .water-stat h2, .division-head-container .water-stat h3, .division-head-container .water-stat h4, .division-head-container .water-stat h5, .division-head-container .water-stat h6, .division-head-container .water-stat p {
	color: #fff;
}

@media all and (max-width: 900px) {
	.division-head-container .water-stat {
		left: 20px;
	}
}

.division-head-container .solar-stat {
	height: 11em;
	position: absolute;
	left: 70px;
	bottom: 0;
	color: #fff;
	background: #1d3744d4;
	padding: 10px 24px;
}

.division-head-container .solar-stat h1, .division-head-container .solar-stat h2, .division-head-container .solar-stat h3, .division-head-container .solar-stat h4, .division-head-container .solar-stat h5, .division-head-container .solar-stat h6, .division-head-container .solar-stat p {
	color: #fff;
}

@media all and (max-width: 900px) {
	.division-head-container .solar-stat {
		left: 20px;
	}
}

.division-head-container .engineering-stat {
	height: 11em;
	position: absolute;
	left: 70px;
	bottom: 0;
	color: #fff;
	background: #1d3744cc;
	padding: 10px 24px;
}

.division-head-container .engineering-stat h1, .division-head-container .engineering-stat h2, .division-head-container .engineering-stat h3, .division-head-container .engineering-stat h4, .division-head-container .engineering-stat h5, .division-head-container .engineering-stat h6, .division-head-container .engineering-stat p {
	color: #fff;
}

.division-description {
	background: #EDEDED;
	color: #053D5D;
}

.division-banner {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 25em;
}

.division-banner-one #right-box {
	color: #fff;
	font-weight: 300;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 25em;
}

.division-banner-one #left-box {
	color: #fff;
	font-weight: 300;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 25em;
}

.division-content-blocks {
	background: #8A8E96;
}

.division-content-blocks .col-md-6 {
	padding: 0;
}

.division-content-blocks .left-blue-block {
	padding: 6em 6em 4em 8em;
	background: #053D5D;
	color: #fff;
	font-weight: 300;
	min-height: 500px;
}

@media all and (max-width: 600px) {
	.division-content-blocks .left-blue-block {
		min-height: auto;
	}
}

.division-content-blocks .left-blue-block h1, .division-content-blocks .left-blue-block h2, .division-content-blocks .left-blue-block h3, .division-content-blocks .left-blue-block h4, .division-content-blocks .left-blue-block h5, .division-content-blocks .left-blue-block h6, .division-content-blocks .left-blue-block p {
	color: #fff;
}

.division-content-blocks .right-grey-block {
	padding: 6em 6em 4em 8em;
	background: #8A8E96;
	color: #fff;
	font-weight: 300;
	min-height: 500px;
}

@media all and (max-width: 600px) {
	.division-content-blocks .right-grey-block {
		min-height: auto;
	}
}

.division-content-blocks .right-grey-block h1, .division-content-blocks .right-grey-block h2, .division-content-blocks .right-grey-block h3, .division-content-blocks .right-grey-block h4, .division-content-blocks .right-grey-block h5, .division-content-blocks .right-grey-block h6, .division-content-blocks .right-grey-block p {
	color: #fff;
}

.division-image-content-blocks {
	background: #8A8E96;
}

.division-image-content-blocks .col-md-6 {
	padding: 0;
}

.division-image-content-blocks .col-md-6 img {
	width: 100%;
	min-height: 500px;
}

.division-image-content-blocks .col-md-6 .right-grey-block {
	background: #8A8E96;
	padding: 6em 6em 4em 8em;
	color: #fff;
	font-weight: 300;
	min-height: 500px;
	display: table-cell;
	vertical-align: middle;
}

@media all and (max-width: 600px) {
	.division-image-content-blocks .col-md-6 .right-grey-block {
		min-height: auto;
	}
}

.division-image-content-blocks .col-md-6 .right-grey-block p {
	color: #fff;
}

.division-image-content-blocks-two .col-md-6 {
	padding: 0;
}

.division-image-content-blocks-two .col-md-6 img {
	width: 100%;
	height: 500px;
}

.division-image-content-blocks-two .col-md-6 .left-block {
	padding: 5em 6em 4em 8em;
	color: #053D5D;
	font-weight: 300;
	min-height: 500px;
	display: table-cell;
	vertical-align: middle;
}

@media all and (max-width: 600px) {
	.division-image-content-blocks-two .col-md-6 .left-block {
		min-height: auto;
	}
}

.division-image-content-blocks-blue {
	background: #053D5D;
}

.division-image-content-blocks-blue .col-md-6 {
	padding: 0;
}

.division-image-content-blocks-blue .col-md-6 img {
	width: 100%;
	height: 500px;
}

.division-image-content-blocks-blue .col-md-6 .left-block {
	background: #053D5D;
	padding: 6em 6em 4em 8em;
	color: #fff;
	font-weight: 300;
	height: 500px;
}

@media all and (max-width: 600px) {
	.division-image-content-blocks-blue .col-md-6 .left-block {
		height: auto;
	}
}

.division-image-content-blocks-blue .col-md-6 .left-block p {
	color: #fff;
	font-weight: 300;
}

#water.division-image-content-blocks-blue .col-md-6 img {
	width: 100%;
	height: 700px;
}

#water.division-image-content-blocks-blue .col-md-6 .left-block {
	height: 700px;
}

@media all and (max-width: 600px) {
	#water.division-image-content-blocks-blue .col-md-6 .left-block {
		height: auto;
	}
}

#water.division-image-content-blocks-blue .col-md-6 .left-block h5 {
	font-weight: 500;
}

#engineering.division-image-content-blocks-blue .col-md-6 img {
	width: 100%;
	height: 700px;
}

#engineering.division-image-content-blocks-blue .col-md-6 .left-block {
	height: 700px;
}

@media all and (max-width: 600px) {
	#engineering.division-image-content-blocks-blue .col-md-6 .left-block {
		height: auto;
	}
}

#steam.division-image-content-blocks-blue .col-md-6 img {
	width: 100%;
	height: 600px;
}

#steam.division-image-content-blocks-blue .col-md-6 .left-block {
	height: 600px;
}

@media all and (max-width: 600px) {
	#steam.division-image-content-blocks-blue .col-md-6 .left-block {
		height: auto;
	}
}

.division-image-content-blocks-white .col-md-6 {
	padding: 0;
}

.division-image-content-blocks-white .col-md-6 img {
	width: 100%;
	height: 500px;
}

.division-image-content-blocks-white .col-md-6 .right-white-block {
	background: #fff;
	padding: 6em 6em 4em 8em;
	color: #053D5D;
	font-weight: 300;
	height: 500px;
}

@media all and (max-width: 600px) {
	.division-image-content-blocks-white .col-md-6 .right-white-block {
		height: auto;
	}
}

.division-image-content-blocks-white .col-md-6 .right-white-block p {
	color: #053D5D;
	font-weight: 300;
}

#steam.division-image-content-blocks-white .col-md-6 {
	padding: 0;
}

#steam.division-image-content-blocks-white .col-md-6 img {
	width: 100%;
	height: 750px;
}

#steam.division-image-content-blocks-white .col-md-6 .right-white-block {
	background: #fff;
	padding: 6em 6em 4em 8em;
	color: #053D5D;
	font-weight: 300;
	height: 750px;
}

@media all and (max-width: 600px) {
	#steam.division-image-content-blocks-white .col-md-6 .right-white-block {
		height: auto;
	}
}

#steam.division-image-content-blocks-white .col-md-6 .right-white-block p {
	color: #053D5D;
	font-weight: 300;
}

.division-image-content-blocks-grey-left .col-md-6 {
	padding: 0;
}

.division-image-content-blocks-grey-left img {
	width: 100%;
	height: 500px;
}

.division-image-content-blocks-grey-left .left-grey-block {
	background: #8A8E96;
	padding: 6em 6em 4em 8em;
	color: #fff;
	font-weight: 300;
	height: 500px;
}

@media all and (max-width: 600px) {
	.division-image-content-blocks-grey-left .left-grey-block {
		height: auto;
	}
}

.division-image-content-blocks-grey-left .left-grey-block p {
	color: #fff;
	font-weight: 300;
}

.division-image-content-blocks-grey-left #steam.left-grey-block {
	background: #8A8E96;
	padding: 6em 6em 4em 8em;
	color: #fff;
	font-weight: 300;
	height: 600px;
}

@media all and (max-width: 600px) {
	.division-image-content-blocks-grey-left #steam.left-grey-block {
		height: auto;
	}
}

.division-image-content-blocks-grey-left #steam.left-grey-block p {
	color: #fff;
	font-weight: 300;
}

.division-image-content-blocks-grey-left #steam.right-image-block img {
	min-height: 600px;
}

#engineering.division-image-content-blocks-grey-left .col-md-6 img {
	width: 100%;
	height: 700px;
}

#engineering.division-image-content-blocks-grey-left .col-md-6 .left-grey-block {
	height: 700px;
}

@media all and (max-width: 600px) {
	#engineering.division-image-content-blocks-grey-left .col-md-6 .left-grey-block {
		height: auto;
	}
}

.division-image-and-content-blocks-white-left .col-md-6 {
	padding: 0;
}

.division-image-and-content-blocks-white-left img {
	width: 100%;
	height: 500px;
}

.division-image-and-content-blocks-white-left .left-white-block {
	background: #fff;
	padding: 6em 6em 4em 8em;
	color: #053D5D;
	font-weight: 300;
	height: 500px;
}

@media all and (max-width: 600px) {
	.division-image-and-content-blocks-white-left .left-white-block {
		height: auto;
	}
}

.division-image-and-content-blocks-white-left .left-white-block p {
	color: #053D5D;
	font-weight: 300;
}

.division-two-wide-grid-white .col-md-6 {
	padding: 0;
}

.division-two-wide-grid-white img {
	width: 100%;
	height: 500px;
}

.division-two-wide-grid-white .right-block-text {
	background: #fff;
	padding: 6em 6em 4em 8em;
	color: #053D5D;
	font-weight: 300;
	height: 500px;
}

@media all and (max-width: 600px) {
	.division-two-wide-grid-white .right-block-text {
		height: auto;
	}
}

.division-two-wide-grid-white .right-block-text p {
	color: #053D5D;
	font-weight: 300;
}

.division-two-wide-grid-white #steam.left-image-block img {
	height: auto;
}

.division-two-wide-grid-white #steam.right-block-text {
	background: #fff;
	padding: 6em 6em 4em 8em;
	color: #053D5D;
	font-weight: 300;
	height: auto;
}

@media all and (max-width: 600px) {
	.division-two-wide-grid-white #steam.right-block-text {
		height: auto;
	}
}

.division-two-wide-grid-white #steam.right-block-text p {
	color: #053D5D;
	font-weight: 300;
}

.division-two-wide-grid-blue-no-image .col-md-6 {
	padding: 0;
}

.division-two-wide-grid-blue-no-image .left-block {
	background: #053D5D;
	padding: 6em 6em 4em 8em;
	color: #fff;
	font-weight: 300;
	height: 700px;
}

@media all and (max-width: 600px) {
	.division-two-wide-grid-blue-no-image .left-block {
		height: auto;
	}
}

.division-two-wide-grid-blue-no-image .left-block p {
	color: #fff;
	font-weight: 300;
}

.division-two-wide-grid-blue-no-image .right-block {
	background: #053D5D;
	padding: 6em 6em 4em 8em;
	color: #fff;
	font-weight: 300;
	height: 700px;
}

@media all and (max-width: 600px) {
	.division-two-wide-grid-blue-no-image .right-block {
		height: auto;
	}
}

.division-two-wide-grid-blue-no-image .right-block p {
	color: #fff;
	font-weight: 300;
}

.division-image-content-blocks-blue-right .col-md-6 {
	padding: 0;
}

.division-image-content-blocks-blue-right img {
	width: 100%;
	height: 500px;
}

.division-image-content-blocks-blue-right .right-blue-block {
	background: #053D5D;
	padding: 6em 6em 4em 8em;
	color: #fff;
	font-weight: 300;
	height: 500px;
}

@media all and (max-width: 600px) {
	.division-image-content-blocks-blue-right .right-blue-block {
		height: auto;
	}
}

.division-image-content-blocks-blue-right .right-blue-block p {
	color: #fff;
	font-weight: 300;
}

#steam.division-image-content-blocks-blue-right .col-md-6 img {
	width: 100%;
	height: 700px;
}

#steam.division-image-content-blocks-blue-right .col-md-6 .right-blue-block {
	height: 700px;
	padding: 6em 6em 4em 8em;
}

@media all and (max-width: 600px) {
	#steam.division-image-content-blocks-blue-right .col-md-6 .right-blue-block {
		height: auto;
	}
}

.division-image-content-blocks-grey .col-md-6 {
	padding: 0;
}

.division-image-content-blocks-grey img {
	width: 100%;
	height: 500px;
}

.division-image-content-blocks-grey .right-grey-block {
	background: #8A8E96;
	padding: 6em 6em 4em 8em;
	color: #fff;
	font-weight: 300;
	height: 500px;
}

@media all and (max-width: 600px) {
	.division-image-content-blocks-grey .right-grey-block {
		height: auto;
	}
}

.division-image-content-blocks-grey .right-grey-block p {
	color: #fff;
	font-weight: 300;
}

/*PRODUCT PAGE STYLES*/
.product-section-container {
	padding: 8em 0;
}

.product-section {
	padding: 5em 0;
}

@media all and (max-width: 900px) {
	.product-section {
		text-align: center;
	}
}

.product-section h5 {
	font-weight: 600;
	color: #053D5D;
	padding-bottom: 1em;
}

.product-section h6 {
	font-weight: 600;
	color: #053D5D;
	background: #EDEDED;
	margin: 0;
	padding: 20px;
}

.product-section ul.products {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
	margin-bottom: 50px;
}

@media all and (max-width: 900px) {
	.product-section ul.products {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

@media all and (max-width: 900px) {
	.product-section ul.products li {
		margin-bottom: 50px;
	}
}

.product-section .product-button p {
	margin-bottom: 4em;
}

/*Woocommerce Styles*/
.woocommerce div.product {
	padding: 50px 0;
}

.woocommerce div.product .product_title {
	color: #053D5D;
	font-size: 20px;
	font-weight: 300;
}

/* Error 404 Styles */
.error-404.not-found {
	text-align: center;
	height: 300px;
}

.error-404.not-found .page-header {
	margin: 10em 0 20px;
}

.error-404.not-found .page-header h1 {
	font-weight: 600;
	color: #053D5D;
}

.error-404.not-found .page-content {
	margin-bottom: 10em;
}

/* Single Post Styles */
.post-thumbnail img {
	height: 400px;
	width: 100%;
}

.entry-header {
	background: #053D5D;
	color: #fff;
	padding: 30px 0;
}

.entry-header .entry-title {
	text-transform: uppercase;
}

.entry-content {
	padding: 30px 0;
}

/* Single Projects Styles */
.projects-banner img {
	width: 100%;
	height: 550px;
}

#project-title {
	background: #053D5D;
	color: #fff;
	text-transform: uppercase;
	height: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

@media all and (max-width: 600px) {
	#project-title {
		height: auto;
	}
}

#project-title h1 {
	padding: 0 2em;
}

@media all and (max-width: 600px) {
	#project-title h1 {
		padding: 0 1.5em;
	}
}

#project-title span {
	color: #C4C6CA;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 500;
}

#project-stat {
	background: #EDEDED;
	color: #053D5D;
	text-transform: uppercase;
	height: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#project-stat h1 {
	padding: 0 1em;
	font-weight: 600;
	font-size: 50px;
	line-height: 30px;
}

@media all and (max-width: 600px) {
	#project-stat h1 {
		padding: 0 0.8em;
	}
}

#project-stat span {
	font-size: 18px;
	font-weight: 400;
}

.project-info p {
	font-size: 16px;
}

@media all and (max-width: 600px) {
	.project-info {
		padding: 0 1.5em;
	}
}

.project-description h4 {
	padding: 2em 3em;
}

@media all and (max-width: 600px) {
	.project-description h4 {
		padding: 2em;
	}
}

.project-description #project-quote span {
	font-weight: 600;
	font-size: 23px;
	font-style: italic;
}

.project-description #project-quote h4 {
	color: #053D5D;
}

.project-description #project-technical {
	padding: 6em;
	background: #8A8E96;
	color: #fff;
}

.project-description #project-technical h1, .project-description #project-technical h2, .project-description #project-technical h3, .project-description #project-technical h4, .project-description #project-technical h5, .project-description #project-technical h6, .project-description #project-technical p {
	color: #fff;
}

.project-description #project-technical p {
	font-size: 16px;
	font-weight: 300;
}

/*Projects Archive Styles*/
.archive-projects-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}

.archive-projects-container .archive-item {
	width: 32%;
	padding: 20px;
}

.archive-projects-container .archive-item .archive-description {
	margin-top: 10px;
	background: #EDEDED;
	padding: 15px;
	font-size: 16px;
	text-transform: uppercase;
	height: 100px;
}

.archive-projects-container .archive-item .archive-description h2 {
	margin: 0;
}

.archive-projects-container .archive-item .archive-description p {
	margin: 0;
}

.archive-projects-container .archive-item .archive-description h1, .archive-projects-container .archive-item .archive-description h2, .archive-projects-container .archive-item .archive-description h3, .archive-projects-container .archive-item .archive-description h4, .archive-projects-container .archive-item .archive-description h5, .archive-projects-container .archive-item .archive-description h6, .archive-projects-container .archive-item .archive-description p {
	font-size: 16px;
}

.archive-projects-container .archive-item .archive-description span {
	font-size: 16px;
}

.page-header {
	border-bottom: none;
}

.archive-description-title p {
	font-size: 28px;
}

/*Project Slider Styles*/
.bx-wrapper {
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: none;
}

.bx-wrapper {
	height: 400px;
	display: block;
	overflow: hidden;
}

@media all and (max-width: 600px) {
	.bx-wrapper {
		height: auto;
	}
}

ul.project-slider {
	padding-left: 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 64px;
	height: 64px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/previous.png) no-repeat 0 0 !important;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/next.png) no-repeat 0 0 !important;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 15px;
	width: 100%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: #fff;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #ffffffc9;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	border-radius: 5px;
}

/*Project Filter Styles*/
.projects-all-container {
	height: 200px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #EDEDED;
}

.projects-all-container h1 {
	color: #1B97C1;
	font-weight: 300;
}

.projects-all-container h1 a {
	font-weight: 600;
}

.projects-all-container h1 i {
	padding-left: 20px;
}

.project-filters {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 200px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	padding: 0 7em;
	background: #EDEDED;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.project-filters h2 {
	margin: 0;
	font-weight: 600;
	color: #053D5D;
}

.project-filters p {
	margin: 0;
	color: #053D5D;
	padding: 0 50px;
}

.project-filters .facet-filter-one {
	padding: 0 20px;
}

.project-filters .facet-filter-two {
	padding: 0 20px;
}

.project-filters .facet-filter-three {
	padding: 0 20px;
}

.project-filters .facet-filter-four .facetwp-facet {
	margin: 0;
}

.project-filters .facet-filter-four .facetwp-facet-search i {
	display: none;
}

.project-filters .facet-filter-four .facetwp-facet-search input {
	border: 1px solid #1B97C1;
	border-radius: 0;
	background: #EDEDED;
	height: 34px;
	text-transform: uppercase;
	text-align: center;
	width: 268px;
}

.project-filters .facet-filter-four .facetwp-facet-search ::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #1B97C1;
}

.project-filters .facet-filter-four .facetwp-facet-search :-ms-input-placeholder {
	color: #1B97C1;
}

.project-filters .facet-filter-four .facetwp-facet-search ::-ms-input-placeholder {
	color: #1B97C1;
}

.project-filters .facet-filter-four .facetwp-facet-search ::placeholder {
	color: #1B97C1;
}

.project-filters .facetwp-type-dropdown {
	margin: 0;
}

.project-filters .facetwp-type-dropdown select {
	height: 35px;
	border-radius: 0px !important;
	-webkit-appearance: none;
	padding: 0 20px;
	width: 268px;
	line-height: 1;
	border: 0;
	height: 34px;
	background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
	-webkit-appearance: none;
	background-position-x: 244px;
	text-transform: uppercase;
}

.project-filters-divisions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 200px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	padding: 0 7em;
	background: #EDEDED;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.project-filters-divisions h2 {
	margin: 0;
	font-weight: 600;
	color: #053D5D;
}

.project-filters-divisions p {
	margin: 0;
	color: #053D5D;
	padding: 0 50px;
}

.project-filters-divisions .facet-filter-one {
	padding: 0 20px;
}

.project-filters-divisions .facet-filter-two {
	padding: 0 20px;
}

.project-filters-divisions .facet-filter-three {
	padding: 0 20px;
}

.project-filters-divisions .facet-filter-four .facetwp-facet {
	margin: 0;
}

.project-filters-divisions .facet-filter-four .facetwp-facet-search i {
	display: none;
}

.project-filters-divisions .facet-filter-four .facetwp-facet-search input {
	border: 1px solid #1B97C1;
	border-radius: 0;
	background: #EDEDED;
	height: 34px;
	text-transform: uppercase;
	text-align: center;
	width: 268px;
}

.project-filters-divisions .facet-filter-four .facetwp-facet-search ::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #1B97C1;
}

.project-filters-divisions .facet-filter-four .facetwp-facet-search :-ms-input-placeholder {
	color: #1B97C1;
}

.project-filters-divisions .facet-filter-four .facetwp-facet-search ::-ms-input-placeholder {
	color: #1B97C1;
}

.project-filters-divisions .facet-filter-four .facetwp-facet-search ::placeholder {
	color: #1B97C1;
}

.project-filters-divisions .facetwp-type-dropdown {
	margin: 0;
}

.project-filters-divisions .facetwp-type-dropdown select {
	height: 35px;
	border-radius: 0px !important;
	-webkit-appearance: none;
	padding: 0 20px;
	width: 268px;
	line-height: 1;
	border: 0;
	height: 34px;
	background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
	-webkit-appearance: none;
	background-position-x: 244px;
	text-transform: uppercase;
}

.facetwp-template .fwpl-result {
	background: #EDEDED;
	margin-bottom: 30px;
	min-height: 300px;
}

.facetwp-template .fwpl-result h3 {
	color: #053D5D;
}

.facetwp-template .fwpl-result .project-title a {
	padding: 0 10px;
	font-size: 15px;
	color: #053D5D;
	text-transform: uppercase;
}

.facetwp-template .fwpl-result .project-title span {
	color: #C4C6CA;
}

.facetwp-template .fwpl-result .project-stat {
	padding: 10px 10px 0 10px;
	font-size: 17px;
	color: #053D5D;
	text-transform: uppercase;
	font-weight: 600;
}

.facetwp-template .fwpl-result .project-photo {
	border-bottom: 10px solid #fff;
}

/*Additional Posts Styling*/
.related-posts-title {
	padding-bottom: 30px;
}

@media all and (max-width: 600px) {
	.related-posts-title {
		padding: 0 1em;
	}
}

.related-posts-title h2 {
	color: #053D5D;
}

.related-posts-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

@media all and (max-width: 600px) {
	.related-posts-container {
		padding: 1em;
	}
}

.related-posts-container .projects-single-container {
	width: 32%;
}

@media all and (max-width: 600px) {
	.related-posts-container .projects-single-container {
		width: 100%;
		margin-bottom: 30px;
	}
}

.related-posts-container .projects-single-container .project-single-info {
	margin-top: 10px;
	background: #EDEDED;
	padding: 15px;
}

@media all and (max-width: 600px) {
	.related-posts-container .projects-single-container .project-single-info {
		text-align: center;
	}
}

.related-posts-container .projects-single-container .project-single-info span.project-excerpt {
	margin-left: 10px;
	font-size: 17px;
	color: #053D5D;
	text-transform: uppercase;
	font-weight: 600;
}

.related-posts-container .projects-single-container .project-single-info span.project-title {
	margin-left: 10px;
	font-size: 17px;
	color: #053D5D;
	text-transform: uppercase;
	font-weight: 300;
}

.project-category-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 40px 0;
}

.project-category-container .project-add-container ul {
	list-style: none;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.project-category-container .project-add-container ul li {
	width: 33%;
}

@media all and (max-width: 600px) {
	.project-category-container .project-add-container ul li {
		width: 100%;
		margin-bottom: 20px;
	}
}

.project-category-container .project-add-container span.project-excerpt {
	margin-left: 10px;
	font-size: 17px;
	color: #053D5D;
	text-transform: uppercase;
	font-weight: 600;
}

.project-category-container .project-add-container span.project-title {
	margin-left: 10px;
	font-size: 17px;
	color: #053D5D;
	text-transform: uppercase;
	font-weight: 300;
}

.project-category-container .project-add-container .project-info-container {
	margin-top: 10px;
	background: #EDEDED;
	padding: 15px;
}

@media all and (max-width: 600px) {
	.project-category-container .project-add-container .project-info-container {
		text-align: center;
	}
}

.related-taxonomy-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 50px 0 10px 0;
}

.related-taxonomy-container h2 {
	margin: 0;
	font-weight: 300;
}

.related-taxonomy-container i {
	font-size: 30px;
}

.related-primary-container {
	padding-bottom: 50px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-container {
	background: #1B97C1;
}

.footer-container .menu-footer-1-container ul {
	padding-left: 0;
}

.footer-container .menu-footer-2-container ul {
	padding-left: 0;
}

.footer-container .menu-footer-3-container ul {
	padding-left: 0;
}

.footer-container .site-footer {
	width: 90%;
	margin: 0 auto;
	padding-top: 35px;
	color: #fff;
}

.footer-container .site-footer #last-column .footer-widget-title {
	color: #1B97C1;
}

.footer-container .site-footer #last-column .textwidget {
	text-align: right;
}

.footer-container .site-footer #last-column .textwidget p {
	font-size: 13px;
	padding-bottom: 5px;
	font-weight: 200;
	color: #fff;
}

.footer-container .site-footer .search-form {
	display: none;
}

.footer-container .site-footer ul {
	list-style: none;
}

.footer-container .site-footer ul li {
	padding-bottom: 5px;
}

.footer-container .site-footer a {
	color: #fff;
	font-size: 13px;
	font-weight: 200;
}

.footer-container .site-footer .social-widgets ul {
	list-style: none;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.footer-container .site-footer .social-widgets ul li {
	padding: 0 10px;
	font-size: 18px;
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
.search-container {
	width: 60%;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 200px;
	padding-top: 80px;
	margin: auto;
}

@media all and (max-width: 600px) {
	.search-container {
		width: 100%;
		padding: 15px;
	}
}

.search-container .search-page-title {
	font-size: 20px;
	font-weight: 300 !important;
	line-height: 50px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 25px;
}

.search-container .search-page-title span {
	font-size: 20px;
	font-weight: 600;
}

.search-container .search-post-title {
	font-size: 18px;
	font-weight: 600 !important;
	line-height: 50px;
	text-align: left;
	display: block;
}

.search-container .search-post-link {
	font-size: 14px;
	font-weight: 300 !important;
	line-height: 20px;
	text-align: left;
	display: block;
}

.search-container .search-post-excerpt {
	font-size: 12px;
	font-weight: 400 !important;
	line-height: 15px;
	text-align: left;
	display: block;
}

/*# sourceMappingURL=../energypartners/sass/maps/style.css.map */
