h1, h2 {
	clear: both;
        font-family: $font-heading;
}

h1{
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
        @media all and (max-width: $query__medium){
    font-size: 30px;
    }
}
​
h2{
    font-size: 30px;
    font-weight: 600;
}

h3{
    font-size: 26px;
    font-weight: 600;
            @media all and (max-width: $query__medium){
    font-size: 24px;
    }
}


h3, h4, h5, h6{
	clear: both;
        font-family: $font-subheading;
}

h4 {
    font-weight:300;
    font-size: 23px;
    line-height: 30px;
            @media all and (max-width: $query__medium){
    font-size: 20px;
    }
}

h5 {
    font-weight:100;
    font-size: 18px;
}

h6 {
    font-weight:500;
    font-size: 16px;
}

