body,
button,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

input {
    color: $color__text-input;
}

@import "headings";

@import "copy";
