.header-image {
    max-height: 60vh;
    overflow: hidden;
    
    img {
        display: block;
        width: 100vw;
    }
}

.site-header {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 1em;
    font-family: $font__main;
    color: #000;
    background-color: #fff;
    
    @media screen and (min-width: $query__small) {
        padding-bottom: 1em 0;
    }
}


.site-branding{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: start;
}

.custom-logo-link{
    margin-right: 1em;
    img {
        display: block;
        height: 40px;
        width: auto;
    }
}

.site-branding__text{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

.site-title{
    margin: 0;
    padding: 0;
    font-family: $font-heading;
    
    a {
        color: #000;
        text-decoration: none;
        
        &:hover,
            &:focus {
            text-decoration: underline;
        }
    }
    
    h1 {
        line-height: 1em;
    }
}

.site-description {
    margin: 0;
    font-size: .9em;
    font-style: italic;
    font-weight: 100;
}

@media screen and (min-width: $query__medium) {
    .site-header {
        display: flex;
        justify-content: space-between;
    }
    
    .site-branding {
        width: 15%;
        flex: 1 0 auto;
        justify-content: start;
        min-width: 200px;
    }
    
    #site-navigation {
        width: 85%;
        
    }
    
    .top-header-section{
    height: 40px;
}

span.top-phone{
    float: right;
    padding: 5px 15px;
    background: #1B97C1;
    margin: 0 7em 0 0;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
}

span.top-phone a{
    color: #fff;
    font-weight: 200;
    font-size: 13px;
}
}

@media screen and (min-width: $query__small) {
    .top-header-section{
        text-align: right;
        height: 40px;
        }
    
        span.top-phone{
        padding: 10px 25px;
        background: #1B97C1;
        margin: 0 7em 0 0;
        color: #fff;
        font-weight: 400;
        font-size: 13px;
    }

span.top-phone a{
    color: #fff;
    font-weight: 200;
    font-size: 13px;
}
    }


@media screen and (max-width: $query__small) {
        .site-title {
            a{
            font-size: 25px;
            }
}
        h1.site-title{
            line-height: 25px;
            }
        .custom-logo-link {
                img {
                        height: 50px;
                        width: auto;
            }
}

        .top-header-section{
            text-align: right;
            height: 40px;
        }
            span.top-phone{
                margin: 0;
                padding: 15px;
                background: #1B97C1;
                color: #fff;
                font-weight: 400;
                font-size: 13px;
            }
            span.top-phone a{
            color: #fff;
            font-weight: 200;
            font-size: 13px;
        }
}

/*
Header Menu
*/
@import "header-menu";

/*
Divisions Headers
*/

@import "header-division";
