.main-navigation {
	display: block;
	font-family: $font__main;
        font-size: 13px;
	clear: left;
	
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-top: 1em;
		padding-left: 0;

		ul {
			display: none;
			top: 1.5em;
			z-index: 99999;

			ul {
				top: 0;
			}

			li {
				padding-left: 1em;                                
                                
				
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 100px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
	}

	a {
		display: inline-block;
		width: 100%;
		padding: .5em 1em .5em 0;
		text-decoration: none;
		color: #8A8E96;
	}
	
	a:hover,
	a:focus {
		text-decoration: none;
                background: #EFEFEF;
                color: #1B97C1;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
	
	.menu-item-has-children,
	.page-item-has-children {
		min-width: 100px;
	}
	.menu-item-has-children > a,
	.page_item_has_children > a {
		padding-right: 2em;
	}
}

button.dropdown-toggle {
	position: absolute;
	right: 0px;
	border: none;
	background: inherit;
	color: #8A8E96;
	line-height: 1.5em;
        
	padding: .6em 1em .4em .5em;
}

.menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	margin: 1.2em 1.2em 0 0;
	padding: .6em .8em;
	font-size: 80%;
	text-transform: uppercase;
	color: #8A8E96;
	border: 1px solid aliceblue;
}

/* Toggle small menu and sub-menus on */
.toggled-on ul,
.sub-menu.toggled-on {
	display: block;
        position: absolute;
        z-index: 10;
        padding-top: 20px;
        background: #fff;

}

@media screen and (min-width: $query__large) {
	.menu-toggle {
		display: none;
	}
	
	.main-navigation {
		
		.menu-item-has-children > a,
		.page_item_has_children > a {
			padding-right: 2em;
			background: hsla(0, 0%, 100%, .1);
		}
		
		ul {
			display: block;
			display: flex;
			flex-wrap: wrap;
                        justify-content: space-evenly;
			
			ul {
				flex-direction: column;
				background: hsla(0, 0%, 100%, .1);
				margin-left: 0;

				li {
					padding-left: 0;
					
					a {
						width: 150px;
						background: none;
					}
				}
			}
			
			li {
				
				a {
					padding: .4em 1em; 
				}
			}
		}
                
                input.search-submit{
                    display: none;
                }
                
                input.search-field{
                    border-left: solid 1px;
                    border-right: solid 1px #fff;
                    border-top: solid 1px #fff;
                    border-bottom: solid 1px #fff;
                    border-radius: 0;
                    font-weight: 400;
                    font-size: 13px;
                    text-transform: uppercase;
                    padding-left: 10px;
                    padding-top: 3px;
                }
		
	}
}

@media screen and (min-width: $query__medium) {
	.main-navigation {
		
		ul {
			justify-content: flex-start;
			padding-top: 0;
                        
		}
                input.search-submit{
                    display: none;
                }
                
                input.search-field{
                    border-left: solid 1px;
                    border-right: solid 1px #fff;
                    border-top: solid 1px #fff;
                    border-bottom: solid 1px #fff;
                    border-radius: 0;
                    font-weight: 400;
                    font-size: 13px;
                    text-transform: uppercase;
                }
                
                form.search-form{
                    padding: 0.2em 1em;
                }
		
	}
}

@media all and (max-width: $query__medium) and (min-width: $query__small) {
            .main-navigation{
                font-size: 13px;
            }
}

@media all and (max-width: $query__large){
    .main-navigation{
        display: flex;
        ul {
            padding: 0 2em 2em;
        ul a {
            width: 150px;
        }
        }
        
        form.search-form{
            padding-left: 0;
        }
    }

}

@media all and (max-width: $query__small){


        .main-navigation ul ul a {
            width: 150px;
        }

}
