#water-header{
    background: #00A2B4;
    a{
        color: #fff;
        text-decoration: underline;
    }
    
}

#fuel-header{
    background: #495F65;
    a{
        color: #fff;
        text-decoration: underline;
    }
}

#engineering-header{
    background: #053D5D;
    a{
        color: #fff;
        text-decoration: underline;
    }
}

#intelligence-header{
    background: #005A7B;
    
    a{
        color: #fff;
        text-decoration: underline;
    }
}

#refrigeration-header{
    background: #006A75;
}

#solar-header{
    background:#495F65;
    a{
        color: #fff;
        text-decoration: underline;
    }
}

#steam-header{
    background: #1D3744;
    a{
        color: #fff;
        text-decoration: underline;
    }
}

a#refrigeration-header{
    color: #fff;
    text-decoration: underline;
}

.intelligence-logo{
    img{
    display: block;
    height: 40px;
    width: auto;
    }
}

@media screen and (min-width: $query__medium) {
    
    .intelligence-top-header{
        display: flex;
        justify-content: space-between;
        background: #EDEDED;
        padding-left: 5em;
        margin-bottom: 15px;
        
        span.top-phone{
            float: none;
        }
        span.corporate-link{
        padding: 10px 25px;
        background: #EDEDED;
        margin: 0;
        color: #1B97C1;
        font-weight: 400;
        font-size: 13px;
    }
    }
}

@media screen and (min-width: $query__small) {
        .intelligence-top-header{
        display: flex;
        justify-content: space-between;
        
        span.corporate-link{
            padding: 10px 25px;
            background: #EDEDED;
            margin: 0;
            color: #1B97C1;
            font-weight: 400;
            font-size: 13px;
        }
        
        }
}

@media screen and (max-width: $query__small) {
        .intelligence-top-header{
        display: flex;
        
     span.corporate-link{
            padding: 10px 25px;
            background: #EDEDED;
            margin: 0;
            color: #1B97C1;
            font-weight: 400;
            font-size: 13px;
            width: 50%;
        }
        span.top-phone{
            width: 50%;
            padding: 10px 25px;
        }
        }
        .site-header{
            padding-top: 1em;
        }
        
        
        img.header-logo{
            height: 40px!important;
        }

}
