$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #E1E2E4;
$color__text-input-focus: #E1E2E4;
$color__link: #1B97C1;
$color__link-visited: #1B97C1;
$color__link-hover: midnightblue;
$color__text-main: #404040;
$color__dark-blue: #053D5D;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

