
.footer-container{
    background: #1B97C1;
    
    .menu-footer-1-container{
        ul{
            padding-left: 0;
        }
    }
    
    .menu-footer-2-container{
        ul{
            padding-left: 0;
        }
    }
    
        .menu-footer-3-container{
        ul{
            padding-left: 0;
        }
    }
        .site-footer{
             width: 90%;
             margin: 0 auto;
             padding-top: 35px;
             color: #fff;
             
                #last-column{
                    
                    .footer-widget-title{
                        color: #1B97C1;
                    }
                    
                    .textwidget{
                    text-align: right;
                    
                    p {
                        font-size: 13px;
                        padding-bottom: 5px;
                        font-weight: 200;
                        color: #fff;
                    }
                }
              }
                .search-form{
                    display: none;
                }

                ul{
                    list-style: none;

                    li{
                        padding-bottom: 5px;
                    } 
                }

                a{
                    color: #fff;
                    font-size: 13px;
                    font-weight: 200;
                }
                
                .social-widgets{
                    ul{
                        list-style: none;
                        display: inline-flex;
                        
                        li{
                            padding: 0 10px;
                            font-size: 18px;
                        }
                    }
                }
        }   
}


