#page{
    overflow: auto;
}

#053D5D.sticky {
	display: block;
}


.hentry {
	margin: 0 0 1.5em;
}

.full-width-container{
    width: 90%;
    margin: 0 auto;
        @media all and (max-width: $query__medium){
    width: 85%;
    }
}

.full-width-container.text-section{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
        @media all and (max-width: $query__medium){
    width: 85%;
    }
    
    h2{
        color: #053D5D;
    }
    
    h3{
        color: #053D5D;
    }
    
    h4{
        color: #053D5D;
        font-weight: 300;
    }
}

 
.top-page-container.about{
    text-transform: uppercase;
        
    h1{
        margin-top: 0;
        text-transform: uppercase;
    }
    @media all and (max-width: $query__medium){
    height: 300px;
    }
}

.top_form{
    width: 100%;
    p{
        margin-left: 15px;
        margin-bottom: 10px;
    }
    
    span{
        margin-left: 20px;
    }
}

#steam-products.top_form{
    height: 170px;
}

#right-column-1{
    display: flex;
    text-align: left;

    
    a{
        padding: 1em 2em;
        border: 1px solid #1B97C1;
        color: #1B97C1;
        font-size: 13px;
        font-weight: 300;
        
        .fa-download{
            padding-right: 5px;
            font-size: 15px;
        }
    }

}
.top-page-container{
    height: 250px;
    text-align: left;
    background: #E1E2E4;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
    .left-column-content{
        padding-top: 2em;
        
    }
    
    #division-title{
    h1{
    color:#fff;
    }
    span{
        color: #C4C6CA;
        }
   }
   
   
   
   #division-description{
       h4{
           color: #fff;
           font-weight: 300;
       }
   }
    
    .col-lg-6{
                
            h1 {
            color: #053D5D;
            text-transform: uppercase;

            span{
                color: #1B97C1;
                text-transform: uppercase;
                font-size: 36px;
                font-weight: 600;
                        @media all and (max-width: $query__medium){
    font-size: 30px;
    }
            }
    }
    
    h4{
        color: #053D5D;
    }
    
     span.glyphicon.glyphicon-chevron-down{
            color: #fff;
            padding-top: 30px;
        }
    }   
}


.top-page-banner{
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
}


#services-section1{
      background: #E1E2E4;
      h3{
          color: #053D5D;
      }
}

      
#industrial-column{
          border-left: 1px solid #ccc;
                  @media all and (max-width: $query__medium){
    border-left: none;
    }
      }

#residential-column{
          border-left: 1px solid #ccc;
          @media all and (max-width: $query__medium){
    border-left: none;
    }
      }
      
#commercial-column{
          border-left: 1px solid #ccc;
         @media all and (max-width: $query__medium){
    border-left: none;
    }
      } 

        .logo-container{
            
            padding-bottom: 70px;
            
            .logo-information-block{
                
                padding: 70px 0;
                
                h1,h2,h3,h4,h5,h6,p{
                    color: #053D5D
                }
            }
            
            span{
                font-size: 14px;
                color: #053D5D;
                font-weight: 600;
            }
            
            ul{
                    display: flex;
                    list-style: none;
                    flex-wrap: wrap;
                    justify-content: start;
                
                    li{
                        img{
                            width:120px;
                        }
                    }
            }
            
        }
   
    
    
@media all and (max-width: $query__medium){
    .five-box-grid-container {
        .box{
            width: 50%!important;
        }
    }
}

@media all and (max-width: $query__small){
    .top-page-container{
        height: 500px;
    } 
    
    .top-page-container.solutions{
        height: 300px;
    }
    
    .five-box-grid-container {
        .box{
            width: 100%!important;
        }
    }
    
        .two-box-grid-container {
        .box{
            width: 100%!important;
        }
    }
    img{
        height: auto!important;
        min-height: auto!important;
    }

}

/*Start Home page grid with animations*/

.two-box-grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  #stay-in-place-one {
    background: #053D5D;
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
      span {
    font-size: 20px;
    text-shadow: 1px 1px #053D5D;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    
    &:hover {
      transition: all 1.5s;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      
    }
    img {
      opacity: 0.5;
      width: 100%;
    }
  }
  #stay-in-place-two {
    background: #053D5D;
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
      span {
    text-shadow: 1px 1px #053D5D;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: all 1.5s;
    }
    img {
      opacity: 0.5;
      width: 100%;
    }
  }
  #move-in-to-place-one {
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    background: #053D5D;
    opacity: 0;
    height: 0;
    text-align: center;
    color: #fff;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #move-in-to-place-two {
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    background: #005A7B;
    opacity: 0;
    height: 0;
    text-align: center;
    color: #fff;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .box {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    &:hover {
      #move-in-to-place-one, #move-in-to-place-two {
        bottom: 0;
        -webkit-transition: all 1s, -webkit-transform 1s;
        transition: all 1s, transform 1s;
        width: 100%;
        height: 100%;
        opacity: 1;
      }
    }
  }
  
    span {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}


.five-box-grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  #stay-in-place-one {
      
      span {
    text-shadow: 1px 1px #053D5D;
    font-size: 20px;
      }
      
    background: #053D5D;
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    &:hover {
      transition: all 1s;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
    img {
      opacity: 0.5;
      width: 100%;
    }
  }
  #stay-in-place-two {
      
        span {
    text-shadow: 1px 1px #053D5D;
    font-size: 20px;
      }
      
    background: #053D5D;
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: all 1s;
    }
    img {
      opacity: 0.5;
      width: 100%;
    }
  }
  #stay-in-place-three {
      
        span {
    text-shadow: 1px 1px #053D5D;
    font-size: 20px;
      }
      
    background: #053D5D;
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: all 1s;
    }
    img {
      opacity: 0.5;
      width: 100%;
    }
  }
  #stay-in-place-four {
      
        span {
    text-shadow: 1px 1px #053D5D;
    font-size: 20px;
      }
      
    background: #053D5D;
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: all 1s;
    }
    img {
      opacity: 0.5;
      width: 100%;
    }
  }
  #stay-in-place-five {
      
        span {
    text-shadow: 1px 1px #053D5D;
    font-size: 20px;
      }
      
    background: #053D5D;
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: all 1s;
    }
    img {
      opacity: 0.5;
      width: 100%;
    }
  }
  #move-in-to-place-one {
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    background: #006A75;
    opacity: 0;
    height: 0;
    text-align: center;
    color: #fff;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #move-in-to-place-two {
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    background: #60777D;
    opacity: 0;
    height: 0;
    text-align: center;
    color: #fff;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #move-in-to-place-three {
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    background: #1D3744;
    opacity: 0;
    height: 0;
    text-align: center;
    color: #fff;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #move-in-to-place-four {
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    background: #1FC3F3;
    opacity: 0;
    height: 0;
    text-align: center;
    color: #fff;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #move-in-to-place-five {
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    background: #5FA0C2;
    opacity: 0;
    height: 0;
    text-align: center;
    color: #fff;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .box {
    position: relative;
    width: 20%;
    height: 100%;
    overflow: hidden;
    &:hover {
      #move-in-to-place-one, #move-in-to-place-two, #move-in-to-place-three, #move-in-to-place-four, #move-in-to-place-five {
        bottom: 0;
        -webkit-transition: all 1s, -webkit-transform 1s;
        transition: all 1s, transform 1s;
        width: 100%;
        height: 100%;
        opacity: 1;
      }
    }
  }
  span {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  }
}

/*  End of home page grid*/

//About Page Template Styles//

.about-layout-3{
    .col-md-6.col-lg-6{
        padding: 0;
        
        img{
            width: 100%;
            height: 500px;
        }
        
        img.block-image{
            width: 100%;
            height: 500px;
             @media all and (max-width: $query__medium){
                 width: 100%;
                 height: auto;
             }
        }
    }
    p{
        font-size: 14px;
        color: #fff;
        
    }
    .about-wysiwyg-left{
        padding:  6em 6em 4em 8em;
        background: #053D5D;
        color: #fff;
        font-weight: 300;
        height: 500px;
        @media all and (max-width: $query__medium){
            padding: 2em 4em;
        }
        img{
            width: none;
            height: none;
        }
    }
    
        .about-refrigeration-wysiwyg-left{
        padding:  6em 6em 4em 8em;
        background: #fff;
        color: #053D5D;
        font-weight: 300;
        p{
            color: #053D5D;
        }
        height: 500px;
        display: table-cell;
        vertical-align: middle;
        @media all and (max-width: $query__medium){
            padding: 2em 4em;
        }
    }
       .about-wysiwyg-right{
        padding:  6em 6em 4em 8em;
        background: #8A8E96;
        color: #fff;
        font-weight: 300;
        height: 500px;
        @media all and (max-width: $query__medium){
            padding: 2em 4em;
        }
    } 
    
}

.stat-container{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        
    .full-width-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        padding: 6em 0;
    }
    
    .box{
        display: flex;
        text-align: center;
        border: 1px solid #fff;
        padding: 1em 2em;
        width: 30%;
        color: #fff;
        align-items: center;
        flex-direction: column;
                @media all and (max-width: $query__medium){
            width: 100%;
            margin-bottom: 20px;
            
        }
        
        h2{
            margin-top: 10px;
            margin-bottom: 10px;
            color: #fff;
            font-size: 36px;
        }
        
        span{
            color: #fff;
        }
    }
}

        h3.solutions-title{
            color: #053D5D;
        }
        
        h3.solutions-title-engineering{
            color: #053D5D;
        }
        
        h3.solutions-title-solar{
            color: #053D5D;
            margin-left: 15px;
        }

.about-layout-4{
    padding: 3em 0;
    .col-md-6{
        .solution-card{
        display: flex;
        align-items: center;
        border: 1px solid #EDEDED;
        width: 100%;
        height: 120px;
        margin: 15px 0;
        padding: 0 10px;
        -webkit-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
        -moz-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
        box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
        
        p{
            margin-bottom: 0;
            font-size: 16px;
        }
        
        .solution-icon{
            width: 15%;
             @media all and (max-width: $query__medium){
                 width: 25%;
             }
            img{
            width: 80px;
            height: 80px;
            }
        }
        
        .solution-content{
            width: 85%;
            
            p.solar-solutions{
                font-size: 26px;
            }
        }
        
        span{
            color: #053D5D;
            font-size: 16px;
            font-weight: 600;
        }
    }
}
}

.about-layout-4-refrigeration{
    padding: 3em 0;
    background: #EDEDED;
    .solutions-services-header{
        h4{
            font-weight: 300;
            color: #053D5D;
        }
    }
    .col-md-6{
        .solution-card{
        display: flex;
        align-items: center;
        border: 1px solid #EDEDED;
        background: #fff;
        color: #053D5D;
        font-weight: 300;
        width: 100%;
        height: 120px;
        margin: 15px 0;
        padding: 0 10px;
        -webkit-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
        -moz-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
        box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
        
        p{
            margin-bottom: 0;
        }
        
        .solution-icon{
            width: 15%;
             @media all and (max-width: $query__medium){
                 width: 25%;
             }
            img{
            width: 80px;
            height: 80px;
            }
        }
        
        .solution-content{
            width: 85%;
        }
        
        span{
            color: #053D5D;
            font-weight: 600;
        }
    }
}
}

.info-container{
    background: #053D5D;
    .info-copy{
        color: #fff;
        padding: 3em 0;
        
        span{
            font-weight:500;
            font-size: 17px;
        }
        
        p {
            color: #fff;
            font-weight: 300;
            margin-bottom: 0;
            font-size: 17px;
        }
    }
}

.about-layout-5{
    padding: 3em 0;
    background: #EDEDED;
    color: #053D5D;
    .directors-title{
        padding-bottom: 3em;
        
        .logo{
            text-align: right;
            @media all and (max-width: $query__medium){
                text-align: center;
            }
        }
    }
    .board-container{
        display: flex;
        justify-content: space-between;
        padding: 3em 0;
         @media all and (max-width: $query__medium){
         flex-direction: column;
         }

        .col{
            width: 15%;
             @media all and (max-width: $query__medium){
                 width: 100%;
             }
            
            img{
                padding-bottom: 20px;
            }
        }
    }
}

.about-layout-6{
    padding: 3em 0;
    h3{
        padding: 1em 0;
        color: #053D5D;
    }
}

.about-layout-7{
    background: #053D5D;
    padding:  6em 6em 4em 8em;
    .left-block{
        h1,h2,h3,h4,h5,h6,p{
        color: #fff;
    }
    }
    
    .right-block{
        margin-top: 20px;
                h1,h2,h3,h4,h5,h6,p{
        color: #fff;
    }
}
}

.about-layout-8{
    background: #8A8E96;
    padding:  6em 6em 4em 8em;
    .left-block{
        h1,h2,h3,h4,h5,h6,p{
        color: #fff;
    }
    }
    
    .right-block{
        margin-top: 20px;
                h1,h2,h3,h4,h5,h6,p{
        color: #fff;
    }
}
}

.about-layout-9{
    .col-md-6{
        padding: 0;
    }
    
    .right-block{
    img{
        width: 100%;
        height: auto;
    }
    }
    
    .left-block{
        background: #fff;
        padding:  6em 6em 4em 8em; 
        color: #053D5D;
        font-weight: 300;
        
        p,h1,h2,h3,h4,h6{
            color: #053D5D;
            font-weight: 300;
        }
        
        h5{
            color: #053D5D;
            font-weight: 300;
            line-height: 25px;
        }
}
}


.funding-one{
    background: #053D5D;
    color: #fff;
    
    p,h1,h2,h3,h4,h5,h6{
        color: #fff;
    }
    
    p{
        font-weight: 300;
    }
    
    h3{
        font-weight: 300;
    }
    
    #left-box{
        padding:  6em 6em 4em 8em;
                @media all and (max-width: $query__medium){
            padding: 2em 4em;
        }
    }
    
        #right-box{
        padding:  6em 6em 4em 8em;
                @media all and (max-width: $query__medium){
            padding: 2em 4em;
        }
    }
}

.funding-two{
    
    #left-box{
        background: #8A8E96;
        color: #fff;
        padding:  6em 6em 6em 8em;
                @media all and (max-width: $query__medium){
            padding: 2em 4em;
        }
            
        p,h1,h2,h3,h4,h5,h6{
            color: #fff;
        }
        p{
            font-weight: 300;
        }
        
            h3{
        font-weight: 300;
    }
    
    }
    #right-box{
        padding: 6em 6em 4em 8em;
        @media all and (max-width: $query__medium){
            padding: 2em 4em;
        }
    }
}

.layout-3.contact{
    #left-box{
               padding:  8em;
               background:#053D5D;

               
        @media all and (max-width: $query__medium){
            padding: 2em 4em;
        }

        .col-md-6{
            padding: 0;
        }
        
        p,h1,h2,h3,h4,h5,h6{
            color: #fff;
        }
        
        h3{
            font-weight: 400;
        }
        
        p{
            font-weight: 300;
            font-size: 13px;
        }
        
        i.fa{
            font-size: 20px;
            margin-right: 18px;
        }
        
        a{
            color: #fff;
        }
    }
        #right-box{
        padding:  6em 6em 4em 8em;
        display: flex;
        align-items: center;
        
        #gform_wrapper_1.gf_browser_chrome.gform_wrapper.corporate-home-form_wrapper{
            width: 100%;
        }
        @media all and (max-width: $query__medium){
            padding: 2em 4em;
        }
        .right-box-content{
            width: 100%;
        }
        
    }
}

.layout-3.home{
    height: 50em;
    @media all and (max-width: $query__medium){
        height: auto;
    }
    
    #left-box{
               padding:11em;
               background:#053D5D;
               display: flex;
               justify-content: left;
               align-items: center;
               color: #fff;
               

               
        @media all and (max-width: $query__medium){
            padding: 2em 4em;
            
            .left-box-content{
                
            }
        }

        .col-md-6{
            padding: 0;
        }
        
        p,h1,h2,h3,h4,h5,h6{
            color: #fff;
        }
        
        h3{
            font-weight: 400;
        }
        
        p{
            font-weight: 300;
            font-size: 14px;
            margin-top: 1.5em;
        }
        
        i.fa{
            font-size: 20px;
            margin-right: 18px;
            display: inline;
        }
    }
        #right-box{
        padding:  6em 6em 4em 8em;
        display: flex;
        align-items: center;
        @media all and (max-width: $query__medium){
            padding: 2em 4em;
        }
        .right-box-content{
            width: 100%;
        }
        
    }
}




.layout-4.contact{
    padding: 3em 0;
    background: #EDEDED;
    .col-md-6{
        .solution-card{
        display: flex;
        align-items: center;
        border: 1px solid #EDEDED;
        width: 100%;
        height: 100px;
        margin: 15px 0;
        padding: 0 10px;
        background: #fff;
        -webkit-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
        -moz-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
        box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.05);
        
        p{
            margin-bottom: 0;
        }
        
        .solution-content{
            width: 85%;
            a{
                color: #1B97C1;
            }
        }
        
        span{
            color: #1B97C1;
        }
    }
}
}


/*Division Template Styles*/

.division-banner-image{
    img{
        width: 100%;
    }
}

.division-box-grid{
    display: flex;
}

.division-boxes{
    width: 100%;
    ul{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        list-style: none;
        padding: 7em 0;
            @media all and (max-width: $query__medium){
        justify-content: center;
    }
        
        li{
            background: #1b97c1c4;
            color: #fff;
            padding: 10px;
            margin: 1em 10px;
            width: 300px;
            height: 60px;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            border: 1px solid #fff;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            display: flex;
                @media all and (max-width: $query__medium){
            width: 100%;
    }
            
            a{
                color: #fff;
                text-decoration: none;
                
                &:hover{
                    color: #0c4b61;
                }
            }
        &:hover {
            -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all 1s, -webkit-transform 1s;
        transition: all 1s, transform 1s;
        background: #fff;
        color: #0c4b61;
        }
        }
    }
}

.division-head-container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    height: 350px;
    
    .division-stat{
    height: 10em;
    position: absolute;
    left: 70px;
    bottom: 0;
    background: #1d3744e8;
    padding: 10px 24px;
                      @media all and (max-width: $query__medium){
    left: 20px;
    }
    h1{
        margin: 0;
        padding: 0;
        color: #fff;
    }
    
    h3{
        margin: 0;
        padding: 0;
        color: #fff;
    }
    
    p{
        margin: 0;
        padding: 0;
        color: #fff;
        
    }
    }
    
    .refrigeration-stat{
    height: 11em;
    position: absolute;
    left: 70px;
    bottom: 0;
    background: #ffffffd4;
    padding: 10px 24px;
        @media all and (max-width: $query__medium){
    left: 20px;
    }
        img{
        padding-top: 10px;
    }
    span{
        color: #053D5D;
        font-weight: 600;
    }
}

    .water-stat{
    height: 11em;
    position: absolute;
    left: 70px;
    bottom: 0;
    background: #1D3744;
    padding: 10px 24px;
    h1,h2,h3,h4,h5,h6,p{
        color: #fff;
    }
            @media all and (max-width: $query__medium){
    left: 20px;
    }
}

.solar-stat{
    height: 11em;
     position: absolute;
    left: 70px;
    bottom: 0;
    color: #fff;
    background: #1d3744d4;
    padding:  10px 24px;  
        h1,h2,h3,h4,h5,h6,p{
        color: #fff;
    }
            @media all and (max-width: $query__medium){
    left: 20px;
    }
}

.engineering-stat{
    height: 11em;
     position: absolute;
    left: 70px;
    bottom: 0;
    color: #fff;
    background: #1d3744cc;
    padding: 10px 24px; 
    h1,h2,h3,h4,h5,h6,p{
        color: #fff;
    }
}
}

.division-description{
    background: #EDEDED;
    color: #053D5D;
    
}

.division-banner{  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25em;
}

.division-banner-one{
    #right-box{
        color: #fff;
        font-weight: 300;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 25em;
    }
}

.division-banner-one{
    #left-box{
        color: #fff;
        font-weight: 300;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 25em;
    }
}

.division-content-blocks{
    background: #8A8E96;
    
    .col-md-6{
        padding: 0;
    }
    .left-blue-block{
        padding:  6em 6em 4em 8em;
        background: #053D5D;
        color: #fff;
        font-weight: 300;
        min-height: 500px;
        @media all and (max-width: $query__small){
            min-height: auto;
        }

        h1,h2,h3,h4,h5,h6,p{
            color:#fff;
        }
    }
    
        .right-grey-block{
        padding:  6em 6em 4em 8em;
        background: #8A8E96;
        color: #fff;
        font-weight: 300;
        min-height: 500px;
                @media all and (max-width: $query__small){
            min-height: auto;
        }

        h1,h2,h3,h4,h5,h6,p{
            color:#fff;
        }
    }
}


.division-image-content-blocks{
    background: #8A8E96;
    .col-md-6{
        padding: 0;
        
        img{
        width: 100%;
        min-height: 500px;
        }
        
        .right-grey-block{
        background: #8A8E96;
        padding:  6em 6em 4em 8em;
        color: #fff;
        font-weight: 300;
        min-height: 500px;
        display: table-cell;
        vertical-align: middle;
                @media all and (max-width: $query__small){
            min-height: auto;
        }
        
        p{
            color: #fff;
        }
        }
    }
}


.division-image-content-blocks-two{
    .col-md-6{
        padding: 0;
        
        img{
        width: 100%;
        height: 500px;
        }
        
        .left-block{
        padding:  5em 6em 4em 8em;
        color: #053D5D;
        font-weight: 300;
        min-height: 500px;
        display: table-cell;
        vertical-align: middle;
                @media all and (max-width: $query__small){
            min-height: auto;
        }
        }
    }
}

.division-image-content-blocks-blue{
    background: #053D5D;
    .col-md-6{
        padding: 0;
        
        img{
        width: 100%;
        height: 500px;
        }
        
        .left-block{
        background: #053D5D;
        padding:  6em 6em 4em 8em; 
        color: #fff;
        font-weight: 300;
        height: 500px;
                @media all and (max-width: $query__small){
           height: auto;
        }
        
        p{
            color: #fff;
            font-weight: 300;
        }
        }
    }
}

#water.division-image-content-blocks-blue{
        .col-md-6{
        img{
            width: 100%;
            height: 700px;
        }
        
        .left-block{
            height: 700px;
                    @media all and (max-width: $query__small){
            height: auto;
        }
        h5{
            font-weight: 500;
        }
        }
    }
}

#engineering.division-image-content-blocks-blue{
        .col-md-6{
        img{
            width: 100%;
            height: 700px;
        }
        
        .left-block{
            height: 700px;
         @media all and (max-width: $query__small){
            height: auto;  
        }
    }
}
}

#steam.division-image-content-blocks-blue{
    .col-md-6{
        img{
            width: 100%;
            height: 600px;
        }
        
        .left-block{
            height: 600px;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        }
    }
}

.division-image-content-blocks-white{
    .col-md-6{
        padding: 0;
        
        img{
        width: 100%;
        height: 500px;
        }
        
        .right-white-block{
        background: #fff;
        padding:  6em 6em 4em 8em; 
        color: #053D5D;
        font-weight: 300;
        height: 500px;
        
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #053D5D;
            font-weight: 300;
        }
        }
    }
}

#steam.division-image-content-blocks-white{
    .col-md-6{
        padding: 0;
        
        img{
        width: 100%;
        height: 750px;
        }
        
        .right-white-block{
        background: #fff;
        padding:  6em 6em 4em 8em; 
        color: #053D5D;
        font-weight: 300;
        height: 750px;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #053D5D;
            font-weight: 300;
        }
        }
    }
}

.division-image-content-blocks-grey-left{
    .col-md-6{
        padding: 0;
    }
    
    img{
        width: 100%;
        height: 500px;
    }
    
    .left-grey-block{
        background: #8A8E96;
        padding:  6em 6em 4em 8em; 
        color: #fff;
        font-weight: 300;
        height: 500px;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #fff;
            font-weight: 300;
        }
}

#steam.left-grey-block{
        background: #8A8E96;
        padding:  6em 6em 4em 8em; 
        color: #fff;
        font-weight: 300;
        height: 600px;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #fff;
            font-weight: 300;
        }
}

#steam.right-image-block{
    img{
       min-height: 600px; 
    }  
    }
}

#engineering.division-image-content-blocks-grey-left{
    
        .col-md-6{
        img{
            width: 100%;
            height: 700px;
        }
        
        .left-grey-block{
            height: 700px;
                     @media all and (max-width: $query__small){
            height: auto;  
        }
        }
    }
}

.division-image-and-content-blocks-white-left{
    .col-md-6{
        padding: 0;
    }
    
    img{
        width: 100%;
        height: 500px;
    }
    
    .left-white-block{
        background: #fff;
        padding:  6em 6em 4em 8em; 
        color: #053D5D;
        font-weight: 300;
        height: 500px;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #053D5D;
            font-weight: 300;
        }
}
}

.division-two-wide-grid-white{
    .col-md-6{
        padding: 0;
    }
    
    img{
        width: 100%;
        height: 500px;
    }
    
    .right-block-text{
        background: #fff;
        padding:  6em 6em 4em 8em; 
        color: #053D5D;
        font-weight: 300;
        height: 500px;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #053D5D;
            font-weight: 300;
        }
}

#steam.left-image-block{
    img{
        height: auto;
    }
}

#steam.right-block-text{
        background: #fff;
        padding:  6em 6em 4em 8em; 
        color: #053D5D;
        font-weight: 300;
        height: auto;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #053D5D;
            font-weight: 300;
        }
}
}

.division-two-wide-grid-blue-no-image{
    .col-md-6{
        padding: 0;
    }
    
        .left-block{
        background: #053D5D;
        padding:  6em 6em 4em 8em; 
        color: #fff;
        font-weight: 300;
        height: 700px;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #fff;
            font-weight: 300;
        }
}

    .right-block{
        background: #053D5D;
        padding:  6em 6em 4em 8em; 
        color: #fff;
        font-weight: 300;
        height: 700px;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #fff;
            font-weight: 300;
        }
}
}

.division-image-content-blocks-blue-right{
    .col-md-6{
        padding: 0;
    }
    
    img{
        width: 100%;
        height: 500px;
    }
    
    .right-blue-block{
        background: #053D5D;
        padding:  6em 6em 4em 8em; 
        color: #fff;
        font-weight: 300;
        height: 500px;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #fff;
            font-weight: 300;
        }
}
}




#steam.division-image-content-blocks-blue-right{
    .col-md-6{
        img{
            width: 100%;
            height: 700px;
        }
        
        .right-blue-block{
            height: 700px;
            padding:  6em 6em 4em 8em;
                     @media all and (max-width: $query__small){
            height: auto;  
                     }
        }
    }
}

.division-image-content-blocks-grey{
        .col-md-6{
        padding: 0;
    }
    
    img{
        width: 100%;
        height: 500px;
    }
    
    .right-grey-block{
        background: #8A8E96;
        padding:  6em 6em 4em 8em; 
        color: #fff;
        font-weight: 300;
        height: 500px;
                 @media all and (max-width: $query__small){
            height: auto;  
        }
        
        p{
            color: #fff;
            font-weight: 300;
        }
}
}

/*PRODUCT PAGE STYLES*/

.product-section-container{
    padding: 8em 0;
}

.product-section{
    padding: 5em 0;
    @media all and (max-width: $query__medium){
        text-align: center;
    }
    
    h5{
        font-weight: 600;
        color: #053D5D;
        padding-bottom: 1em;
    }
    
    h6{
        font-weight: 600;
        color: #053D5D;
        background: #EDEDED;
        margin: 0;
        padding: 20px;
    }
    ul.products{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        margin-bottom: 50px;
        @media all and (max-width: $query__medium){
            justify-content: center;
        }
        
        li{
            @media all and (max-width: $query__medium){
            margin-bottom: 50px;
            }
        }
    }
    
    .product-button{
        p{
            margin-bottom: 4em;
        }
    }
}


/*Woocommerce Styles*/
.woocommerce div.product{
	padding: 50px 0;
        .product_title{
        color: #053D5D;
	font-size: 20px;
	font-weight: 300;
}

}

/* Error 404 Styles */

.error-404.not-found{
    text-align: center;
    height: 300px;
    .page-header{
            margin: 10em 0 20px;
        h1{
            font-weight: 600;
            color: #053D5D;
        }
    }
    
    .page-content{
        margin-bottom: 10em;
    }
}


/* Single Post Styles */
.post-thumbnail{
    img{
        height: 400px;
        width: 100%;
    }
}

.entry-header{
    background:#053D5D;
    color: #fff;
    padding: 30px 0;
    
    .entry-title{
        text-transform: uppercase;
    }
}

.entry-content{
    padding: 30px 0;
}

/* Single Projects Styles */

.projects-banner{
    img{
        width: 100%;
        height: 550px;
    }
}

#project-title{
    background: #053D5D;
    color: #fff;
    text-transform: uppercase;
    height: 150px;
    display: flex;
    align-items: center;
             @media all and (max-width: $query__small){
           height: auto;
        }
    
    h1{
        padding:0 2em;
        @media all and (max-width: $query__small){
            padding: 0 1.5em;
        }
    }
    
    span{
        color: #C4C6CA;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 500;
}
}

#project-stat{
    background: #EDEDED;
    color: #053D5D;
    text-transform: uppercase;
    height: 150px;
    display: flex;
    align-items: center;
    
    h1{
        padding:0 1em;
        font-weight: 600;
        font-size: 50px;
        line-height: 30px;
        @media all and (max-width: $query__small){
            padding:0 0.8em;
        }
    }
    
    span{
        font-size: 18px;
    font-weight: 400;
    }
}

.project-info{
    p{
        font-size: 16px;
        
    }
     @media all and (max-width: $query__small){
            padding: 0 1.5em;
        }
}

.project-description{
    h4{
        padding: 2em 3em;
        @media all and (max-width: $query__small){
            padding: 2em;
        }
    }
    
    #project-quote{
        span{
            font-weight: 600;
            font-size: 23px;
            font-style: italic;            
        }
        
        h4 {
            color: #053D5D;
        }
    }
    
    #project-technical{
        padding: 6em;
        background: #8A8E96;
        color: #fff;
        
        h1,h2,h3,h4,h5,h6,p{
            color: #fff;
        }
        
        p{
        font-size: 16px;
        font-weight: 300;
        }
    }
}

/*Projects Archive Styles*/

.archive-projects-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: start;
    
    .archive-item{
        width: 32%;
        padding: 20px;
        
        .archive-description{
            margin-top: 10px;
            background: #EDEDED;
            padding: 15px;
            font-size: 16px;
            text-transform: uppercase;
            height: 100px;
            
            h2{
                margin: 0;
            }
            
            p{
                margin: 0;
            }
            
            h1,h2,h3,h4,h5,h6,p{
                font-size: 16px;
            }
            
            span{
                font-size: 16px;
            }
        }
    }
}

.page-header{
    border-bottom: none;
}

.archive-description-title{
    p{
        font-size: 28px;
    }
}
/*Project Slider Styles*/

.bx-wrapper{
    box-shadow: none;
    border: none;
    
}

.bx-wrapper {
    height: 400px;
  display: block;
  overflow: hidden;
   @media all and (max-width: $query__small){
            height: auto;
        }
}

ul.project-slider{
    padding-left:0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 64px;
    height: 64px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(images/previous.png) no-repeat 0 0!important;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(images/next.png) no-repeat 0 0!important;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fff;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #ffffffc9;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/*Project Filter Styles*/

.projects-all-container{height: 200px;
    display: flex;
    align-items: center;
    background: #EDEDED;
    
    h1{
        color: #1B97C1;
        font-weight: 300;
        
        a{
            font-weight: 600;
        }
        
        i{
            padding-left:20px;
        }
    }
}

.project-filters{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: start;
    padding: 0 7em;
    background: #EDEDED;
    flex-wrap: wrap;
    
    h2{
        margin: 0;
        font-weight: 600;
        color: #053D5D;
    }
    
    p{
        margin: 0;
        color: #053D5D;
        padding: 0 50px;
    }
    
    .facet-filter-one{
        padding: 0 20px;
    }
    
    .facet-filter-two{
        padding: 0 20px;
    }
    
    .facet-filter-three{
        padding: 0 20px;
        
    }
    
    .facet-filter-four{
        
        .facetwp-facet{
            margin: 0;
        }
        
        .facetwp-facet-search{
            i{
                display: none;
            }
            input{
                border: 1px solid #1B97C1;
                border-radius: 0;
                background: #EDEDED;
                height: 34px;
                text-transform: uppercase;
                text-align: center;
                width: 268px;

            }
            
                            
                ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                        color:    #1B97C1;
                    }
                
                ::placeholder { 
                    color:    #1B97C1;
                 }
        }
    }
    
    
    
    .facetwp-type-dropdown{
        margin: 0;
        
        
        select{
            height: 35px;
            border-radius: 0px!important;
            -webkit-appearance: none;
            padding: 0 20px;
                width: 268px;
            line-height: 1;
            border: 0;
            height: 34px;
            background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
            -webkit-appearance: none;
            background-position-x: 244px;
            text-transform: uppercase;
        }
    }
}

.project-filters-divisions{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 7em;
    background: #EDEDED;
    flex-wrap: wrap;
    
    h2{
        margin: 0;
        font-weight: 600;
        color: #053D5D;

    }
    
    p{
        margin: 0;
        color: #053D5D;
        padding: 0 50px;
    }
    
    .facet-filter-one{
        padding: 0 20px;
    }
    
    .facet-filter-two{
        padding: 0 20px;
    }
    
    .facet-filter-three{
        padding: 0 20px;
        
    }
    
    .facet-filter-four{
        
        .facetwp-facet{
            margin: 0;
        }
        
        .facetwp-facet-search{
            i{
                display: none;
            }
            input{
                border: 1px solid #1B97C1;
                border-radius: 0;
                background: #EDEDED;
                height: 34px;
                text-transform: uppercase;
                text-align: center;
                width: 268px;

            }
            
                            
                ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                        color:    #1B97C1;
                    }
                
                ::placeholder { 
                    color:    #1B97C1;
                 }
        }
    }
    
    
    
    .facetwp-type-dropdown{
        margin: 0;
        
        
        select{
            height: 35px;
            border-radius: 0px!important;
            -webkit-appearance: none;
            padding: 0 20px;
                width: 268px;
            line-height: 1;
            border: 0;
            height: 34px;
            background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
            -webkit-appearance: none;
            background-position-x: 244px;
            text-transform: uppercase;
        }
    }
}

.facetwp-template{
    .fwpl-result{
    background: #EDEDED;
    margin-bottom: 30px;
    min-height: 300px;
        h3{
        color: #053D5D;
    }
    
    .project-title{
        a{
        padding: 0 10px;
        font-size: 15px;
        color: #053D5D;
        text-transform: uppercase;
        }
        
        span{
            color: #C4C6CA;
        }
    }
    
    .project-stat{
        padding:10px 10px 0 10px;
        font-size: 17px;
        color: #053D5D;
        text-transform: uppercase;
        font-weight: 600;

    }
    
    .project-photo{
        border-bottom: 10px solid #fff;
    }
}
}

/*Additional Posts Styling*/

.related-posts-title{
    padding-bottom: 30px;
     @media all and (max-width: $query__small){
            padding: 0 1em;
        }
    
    h2{
        color: #053D5D;
    }
}

.related-posts-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     @media all and (max-width: $query__small){
            padding: 1em;
        }
    
    .projects-single-container{
        width: 32%;
         @media all and (max-width: $query__small){
            width: 100%;
            margin-bottom: 30px;
        }
        
        .project-single-info{
            margin-top: 10px;
    background: #EDEDED;
    padding: 15px;
             @media all and (max-width: $query__small){
            text-align: center;
        }
    
    
    span.project-excerpt{
        margin-left: 10px;
    font-size: 17px;
    color: #053D5D;
    text-transform: uppercase;
    font-weight: 600;
    }
    
    span.project-title{
        margin-left: 10px;
    font-size: 17px;
    color: #053D5D;
    text-transform: uppercase;
    font-weight: 300;
    }
        }
    }
}

.project-category-container{
    display: flex;
    align-items: center;
    padding: 40px 0;

.project-add-container{

    
    ul{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        li{
            width: 33%;
        @media all and (max-width: $query__small){
            width: 100%;
            margin-bottom: 20px;
        }
        }
    }
    
    span.project-excerpt{
     margin-left: 10px;   
    font-size: 17px;
    color: #053D5D;
    text-transform: uppercase;
    font-weight: 600;
    }
        span.project-title{
     margin-left: 10px;   
    font-size: 17px;
    color: #053D5D;
    text-transform: uppercase;
    font-weight: 300;
    }
    
    .project-info-container{
        margin-top: 10px;
        background: #EDEDED;
        padding: 15px;
        @media all and (max-width: $query__small){
            text-align: center;
        }
    }

}
}

.related-taxonomy-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 10px 0;
    
    h2{
        margin: 0;
        font-weight: 300;
    }
    
    i {
        font-size: 30px;
    }
}

.related-primary-container{
    padding-bottom: 50px;
}




